[2017-04-16 18:18] Pangstar opened #15 "BUG with accounts which have subdomains - unable to connect - possible solution in ticket."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
windows 10 - intel 17 - not sure ..

3. What are the component versions in the environment (`pip list`)?
1.0.5

4. What did you do?
I am

[2017-04-16 18:20] Pangstar commented on #15
Would be good to have a test for this too.

[2017-04-16 18:35] Pangstar commented on #15
Just to be clear its when account = 'account.eu-central-1'

this will mean account, host and port are not assigned

[2017-04-17 00:44] smtakeda commented on #15
Ah, I know this one. I forgot to make a fix in SQLAlchemy dialect when the connector had the same one. Will work on this.

Yes, PR is welcome! But let me work on this specific one.

[2017-04-17 01:03] #15 closed

[2017-04-17 17:48] Pangstar commented on #15
:D when will this be updated on pip?

[2017-04-18 01:14] smtakeda commented on #15
@Pangstar we usually push the code every Thursday if no blocker is raised.

[2017-05-15 01:25] Pangstar opened #17 "BUG/Issues using COPY keyword in query"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.6

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
mac

4. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.

Trying to run a s

[2017-05-15 16:06] smtakeda commented on #17
Thanks for reporting an issue and PR. Looking now.

[2017-05-15 17:02] #17 closed

[2017-05-18 23:18] ivankixeye opened #19 "Unsupported data type 'boolean' when running with superset"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.6.1

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Linux-4.9.27-moby-x86_64-with (alpine docker container)

3. What are the component versions in the environment (`pip list`)?
See Docker

[2017-05-18 23:26] smtakeda commented on #19
Can you run the sql from snowflake UI?
If it doesn't work, it is most likely  Boolean type is not enabled for your
account. Ask the support to enable it.
Sorry I'm AFK.
--
Shige Takeda
smtakeda@gmail.com

[2017-05-18 23:27] smtakeda commented on #19
A test case is:

create table t(c Boolean);

On Thu, May 18, 2017 at 16:26 Shige Takeda <smtakeda@gmail.com> wrote:

--
Shige Takeda
smtakeda@gmail.com

[2017-05-18 23:52] ivankixeye commented on #19
Thank you, a submitted a support request. I'll post back when I find out how it goes.

[2017-09-18 17:56] smtakeda commented on #19
I assume this is no longer critical. Closing for now.

[2017-09-18 17:56] #19 closed

[2017-12-20 17:48] cladden opened #22 "get_columns() should reflect string lengths"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

`3.5.4`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

`Linux-4.9.49-moby-x86_64-with-debian-8.10`

3. What are the component versions in the environment (`pip list`)?

N/A

4. What did

[2017-12-20 22:34] smtakeda commented on #22
Looking now... looks like a bug. Fixing.

[2017-12-21 00:07] #22 closed

[2017-12-27 16:34] cladden opened #24 "SnowflakeDialect should set the default schema name"
According to postgres dialect implementation, the default schema name should be set by implementing the `_get_default_schema_name` method. This method will be called once on init instead of every call to `SnowflakeDialect.get_columns` and `SnowflakeDialect.get_primary_keys`. The distinction is important for performance reasons esp. for a schema with many e.g. 100+ tables because `get_columns` and

[2017-12-27 17:39] cladden opened #25 "foreign key names should be normalized"
Foreign key names should be normalized for proper reflection. I believe the `foreign_key_map` is built by name in `get_foreign_keys`, here:
https://github.com/snowflakedb/snowflake-sqlalchemy/blob/master/base.py#L484

I think the fix may be a 1 line change to wrap the `name` value with a call to `self.normalize_name`, e.g.:

[code]

[2017-12-27 18:55] smtakeda commented on #25
Thanks for reporting an issue. WIP.

[2017-12-27 19:05] smtakeda commented on #24
Looking now.

[2017-12-27 19:27] #25 closed

[2017-12-28 02:23] #24 closed

[2018-01-02 16:33] cladden opened #29 "get_foreign_keys should cache database and schema"
As noted in the `SnowflakeDialect` comments, the current implementation of `get_foreign_keys()` does not cache the database or schema. Instead, it goes out to snowflake to obtain the `full_schema_name ` for every table, resulting in 2 calls to snowflake per table.

This is problematic for alembic reflection of schemas with many tables. snowflake reflection can take as long as 15 minutes; while red

[2018-01-02 17:50] cladden opened #30 "DESCRIBE TABLE result is not cached for get_columns and get_primary_keys"
As far was I can tell, the exact same `DESCRIBE TABLE ...` command is called in both `get_columns()` and `get_primary_keys()`. During reflection, this causes negative performance issues. If DESCRIBE TABLE has to be called twice, could the result be cached to reduce one of the calls?

As an example, if a new caching method stored the `DESCRIBE TABLE ...` n2i, result:

[code]

Then, it could potenti

[2018-01-02 18:46] smtakeda commented on #29
Can you please provide Snowflake implementation in`env.py` and `alembic` command that causes the issue?

I had played with `alembic` a while back, but honestly I'm not familiar with the tool, thought I know the concept of DB schema management. It would be great if I know your use case to start looking into.

[2018-01-02 21:53] smtakeda commented on #30
can you take a look at the latest update?
https://github.com/snowflakedb/snowflake-sqlalchemy/commit/afb589537c9bd176de0334e6790ff7d2ad7021b0

Regression Tests passed. will push it part of v1.0.9 anyway.

[2018-01-02 22:29] cladden commented on #29
alembic command that migrated the database:
[code]

env.py:
[code]

test_model_changes.py was profiled using cProfile, gprof2dot, and graphviz:
[code]

test_profile.py has a method that detects model changes using reflection:
[code]

alembic_support.configure_context.py:
[code]

alembic_support.
![myprofile](https://user-images.githubusercontent.com/50999/34502649-7636ef16-efe2-11e7-97fa-118eb9f22

[2018-01-03 01:59] cladden commented on #30
I left a few comments on https://github.com/snowflakedb/snowflake-sqlalchemy/commit/afb589537c9bd176de0334e6790ff7d2ad7021b0

In summary, the reflection.cache is not working because to use the `@reflection.cache`, the new methods must accept `**kw` as an argument, and `*kw` must be passed in on every invocation as appropriate.

[2018-01-03 05:26] smtakeda commented on #30
Ah, good point. I've fixed it and raised PR again:
https://github.com/snowflakedb/snowflake-sqlalchemy/pull/33

Also added `cache_column_metadata=True` to the DSN so that all column metadata are cached when `get_table_names` called.

[2018-01-03 22:40] smtakeda commented on #29
Duplicate #30

[2018-01-03 22:40] #29 closed

[2018-01-03 22:40] smtakeda commented on #30
Closing as this was fixed. @cladden, Please reopen this if you see further issue.

[2018-01-03 22:40] #30 closed

[2018-01-23 15:31] kheuton opened #35 "Connection URL parameters aren't documented anywhere"
I'm developing with snowflake-sqlalchemy, and in my organization control over the snowflake `ROLE` is important. I couldn't find any documentation either on snowflake's website, the snowflake-connector-python docs, or the snowflake-sqlalchemy docs indicating that it might be possible to specify role in a connection URL. ~~However, it looks like adding `?roleName=` to the connection URL would do th

[2018-01-23 16:48] smtakeda commented on #35
Thanks for pointing out missing doc for the parameter. `role` can be specified in as part of connection parameters, e.g.,:

[code]
`?roleName=` is a parameter for the backend REST API call.
I'll update the doc later today.

[2018-01-23 17:08] smtakeda commented on #35
Can you please review the doc? https://github.com/snowflakedb/snowflake-sqlalchemy/pull/36
Meanwhile I'm asking @markpeters-snow to review it.

[2018-01-23 17:19] kheuton commented on #35
Will do, testing the role parameter now.

[2018-01-23 17:58] #35 closed

[2018-01-28 17:20] ulti-star opened #37 "Snowflake connection not closing after execution"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.6

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Linux-4.9.60-linuxkit-aufs-x86_64-with-debian-8.10

3. What are the component versions in the environment (`pip list`)?

asn1crypto (0.2

[2018-01-28 17:57] smtakeda commented on #37
can you change
[code]
to
[code]
?

[2018-01-28 19:28] ulti-star commented on #37
Ohh.. thats seems to have fixed the problem. Thank you.

Sorry for bothering you so much.

[2018-01-29 02:07] smtakeda commented on #37
No problem. Feel free to post questions here.

[2018-01-29 02:07] #37 closed

[2018-01-29 13:32] nrth opened #38 "Invalid return value for SnowflakeDialect.get_primary_keys (deprecated)"
Python 2.7.12, Linux-4.4.0-112-generic-x86_64-with-Ubuntu-16.04-xenial

I tracked down an issue with incorrectly set primary keys on reflection lookups.

#### Steps to reproduce
1. Setup a table/schema with primary key column
2. Do a lookup with sqlalchemy.Table.columns
3. The primary_key property of the pk column is incorrect

#### Possible solution

`base.SnowflakeDialect.get_primary_keys` imple

[2018-01-29 16:01] smtakeda commented on #38
Thanks for catching the issue. I knew `get_primary_keys` was deprecated and was thinking of replacing with `get_pk_constraint` soon but didn't realize the return values are different...
The fix looks good, but the existing applications that depend on a wrong behavior of `get_primary_keys` will be impacted and have to replace with `get_pk_constraint`.

Anyway I know how to fix it and will update th

[2018-01-29 17:13] #38 closed

[2018-02-14 14:59] jorgebaez212 opened #41 "botocore requirement limitation"
It is quite common to use awscli, especially if sync between buckets is needed, but if you install the latest version of awscli, botocore version is upgraded to botocore 1.8.42, and when trying to query snowflake using sqlalchemy, the following error rises:
[code]
Is it really necessary to set an upper limit for bocore versions to 1.8.0?
Could it be possible to allow the usage of the latest botoco

[2018-02-14 16:42] smtakeda commented on #41
That latest version 1.5.0 already bumped up the upper limit to 1.9.0:
https://github.com/snowflakedb/snowflake-connector-python/blob/master/setup.py#L40

Can you update the driver to the latest one?

The reason it limits is because the connection uses botocore's request package with OCSP check:
https://github.com/boto/botocore/tree/develop/botocore/vendored/requests

I'm afraid the change of botoc

[2018-02-14 17:26] jorgebaez212 commented on #41
In this case, the error occurs when trying to use sqlalchemy.create_engine.

Snowflake libraries are up to date on these environments, and the upgrade of boto that occurs when installing awscli can be seen using pip freeze.

#This env does not work:
[code]
#This env works with no problems
[code]
I thought the problem was related to this sqlalchemy module, but do you think it could be something els

[2018-02-14 19:51] smtakeda commented on #41
I think it is due to `boto3` limiting the version of `botocore`:

https://github.com/boto/boto3/commit/9d5fac2a36a31b9665a8d80c7dfe8df9fac4ceb3
[code]
This case worked in Python 3.6.2 on Mac:
[code]

But downgrading boto3 to 1.4.7 raises an error:
[code]

[2018-02-14 20:29] jorgebaez212 commented on #41
Thanks! upgrading boto3 to 1.5.28 solved this connection problem.

[2018-02-14 20:57] #41 closed

[2018-03-14 01:32] smtakeda opened #42 "pkg_resources.ContextualVersionConflict: (python-dateutil 2.7.0 (/tmp/g/lib/python3.4/site-packages), Requirement.parse('python-dateutil<2.7.0,>=2.1'), {'botocore'})"
https://github.com/boto/botocore 1.9.8 tighten the upper bound of https://github.com/dateutil/dateutil/ version to `<2.7.0`. If you install snowflake-sqlalchemy in a fresh virtualenv and attempt to make a connection, you'll get this:

[code]
The workaround is this:
[code]

[2018-05-03 23:01] tchoedak opened #47 "Best practice for doing cross database joins using ORM"
### Question

Hi there, in snowflake we often have multiple databases, with their own set of schemas, and tables inside those schemas. Ideally data shouldn't have to move between these databases nor schemas, but in practice they often do.

One use case is when there might be valuable data between two different databases. In my example, I'm going to reference database `A` and database `B` which has

[2018-05-07 17:53] kevinjfoley commented on #47
It seems there is support for multi part schemas in SQL Alchemy as SQL Server also has the concept of multiple databases on one server - http://docs.sqlalchemy.org/en/latest/dialects/mssql.html#multipart-schema-names

I tried using the same syntax of setting schema equal to `database.schema` but it looks like `snowflake-sqlalchemy` quotes the entire thing and passes `"DATABASE.SCHEMA"` which creat

[2018-05-07 18:41] smtakeda commented on #47
ok, sounds like if Snowflake SQLAlchemy do quotes `"DATABASE"."SCHEMA"`, then it will be resolved?

[2018-05-07 19:29] kevinjfoley commented on #47
I believe that should fix things but I wasn't able to test it out and confirm.  It would definitely fix the error I was encountering when trying to autoload a table, however there may be additional errors after that point.

[2018-05-07 20:14] tchoedak commented on #47
@smtakeda that might work. As far as I can tell, there should be no reason why we can't treat the pairing of `DATABASE` and `SCHEMA` as a unique schema e.g. `"DATABASE"."SCHEMA"`. We're still able to query multiple snowflake databases within a single session and engine, so theoretically just parsing the schema from the below example and formatting it for snowflake compatibility should produce the

[2018-05-09 03:15] smtakeda commented on #47
I think I've fixed the issue. https://github.com/snowflakedb/snowflake-sqlalchemy/pull/48
It would be great if somebody review the change. Thank you.

[2018-05-10 19:47] #47 closed

[2018-05-10 19:59] smtakeda commented on #47
Committed the fix after the improvement. Let me know if you have any issue. Thanks.

[2018-05-10 21:00] smtakeda commented on #47
This fix will be released on May 17th.

[2018-05-17 17:49] tchoedak commented on #47
@smtakeda Thank you, @kevinjfoley and I confirmed this is working now :).

[2018-06-12 12:08] darrint opened #54 "Long values in params mishandled"
`ProgrammingError: (snowflake.connector.errors.ProgrammingError) 001003 (42000): SQL compilation error:
syntax error line 3 at position 14 unexpected 'L'.`

It appears to me that long values are being mishandled. I don't know whether to blame snowflake-sqlalchemy for trying to substitute them as strings or the connector for substituting as strings incorrectly. I think it's the latter. (Or I'm doin

[2018-06-12 12:10] darrint commented on #54
[logs.txt](https://github.com/snowflakedb/snowflake-sqlalchemy/files/2093920/logs.txt)

[2018-06-12 17:43] smtakeda commented on #54
Thanks for a bug report. This is an Python Connector issue, so I'll patch on https://github.com/snowflakedb/snowflake-connector-python.

[2018-06-12 17:57] smtakeda commented on #54
https://github.com/snowflakedb/snowflake-connector-python/pull/91

[2018-06-12 20:45] smtakeda commented on #54
Python connector 1.6.3 will have the fix.

[2018-06-12 20:45] #54 closed

[2018-08-14 19:55] wxianxin opened #55 "I would love to snowflake to support `supports_multivalues_insert`"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
python 3.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Mac OS. X86

3. What are the component versions in the environment (`pip list`)?
All latest as of today: 20180814

4. What did you

[2018-08-16 00:57] smtakeda commented on #55
I think Snowflake supports it but the flag is not enabled for some reason. Trying add the flag.

[2018-08-21 17:23] alanapradhan opened #56 "Querying Semistructured Data with Column Elements"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? 3.6.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)? Darwin-16.7.0-x86_64-i386-64bit

3. Question: My question is how do I use semistructured data in my sqlalchemy orm queries. I am intere

[2018-08-21 19:55] smtakeda commented on #56
The current version of Snowflake SQLAlchemy doesn't support the JSON type natively.
http://docs.sqlalchemy.org/en/latest/core/type_basics.html#sqlalchemy.types.JSON
We don't have a plan in the short term, though I'm not sure how it would be helpful for this issue. Any suggestion of using API and design would be appreciated.

[2018-08-22 03:14] smtakeda commented on #55
@wxianxin can you please educate how this flag impacts the functionality? I'm mostly sure I can add
[code]
to the base class, but I'm not clear what test case I should add to verify the impact.

In my understanding, this flag indicates INSERT statement can have multiple values, e.g.,
[code]

[2018-08-22 13:53] wxianxin commented on #55
@smtakeda Thanks for your attention. I am afraid that the answer to your question is: I don't know. I am not familiar with the design of SQLAlchemy.

Why do I raise this issue? I am just a pandas and snowflake user. I often need to upload large dataframe to snowflake. Ideally I hope to use `pandas.Dataframe.to_sql()`. However it is slow and sometimes not responsive if the dataframe is too large.

[2018-08-22 16:11] smtakeda commented on #55
Actually `to_sql` already uses the multi-value insert in `executemany` in Python connector.

Can you try adding the following two lines before the connection?
[code]
For example:
[code]

`parmstyle='qmark'` will use `?` for server side binding instead of `%s` for client side binding.
In the above example, this SQL is executed with the data binding:
[code]
instead of:
[code]

[2018-08-22 20:15] wxianxin commented on #55
Thanks. I have noticed 25% improvement in speed.
I would be glad to know if there is any additional way to improve the speed.
It is still kind of slow. My dataframes are like 200+ columns and 100,000 rows. I have never successfully uploaded the whole dataframe using `to_sql`. python would just hang. I don't if it is because of the server limitation.

[2018-08-22 23:47] smtakeda commented on #55
In terms of performance, there is no much we can do at the moment. We are experimenting a scalable bulk bind but the performance is not good enough to enable for general purpose.

About the hang, can you please file a ticket to the support including the log?. This code snippet can generate `python_connector.log`:
[code]

[2018-08-24 19:34] wxianxin commented on #55
I did 3 test run. I will separate the test into multiple messages:

1. Successfully uploaded 200 (row) by 200 (column) dataframe in 6 seconds.

2. Successfully uploaded 10000 by 200 dataframe in 78.4 seconds.

3. Failed to uploaded 20000 by 200 dataframe and I killed my python process at 10 minutes mark.
- The system is responsive, I am able to stop python by `KeyboardInterrupt`.
- The ram usage i

[2018-08-24 19:38] wxianxin commented on #55
[code]

[2018-08-24 19:49] wxianxin commented on #55
[code]

[2018-08-24 19:51] wxianxin commented on #55
Too long to comment. I am using ubuntu paste.
https://paste.ubuntu.com/p/6K3Qvbc8t7/

[2018-08-24 20:55] smtakeda commented on #55
@wxianxin thanks for the perf test. will look into it when I have a chance.

I would recommend to communicate with the support especially if we need to share the logs. We do our best not to include sensitive information in the log but cannot guarantee it never happen at any point of time. It would be safer to upload logs directly to the support ticket. Thanks.

[2018-08-25 18:26] villebro opened #57 "Regression in handling of quoted_name in compiler after 1.1.0"
When passing a select query to the compiler, quotes around the alias are lost. This was working correctly in v. 1.1.0, but stopped working as of 1.1.1

Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.6.4

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform

[2018-08-29 02:49] wxianxin commented on #55
I agree. Thanks for the help!

[2018-09-05 22:51] smtakeda commented on #57
Will look into this when we have a chance...

[2018-09-05 22:52] #55 closed

[2018-09-11 20:59] sburns opened #58 "Interest in CopyIntoS3 command"
(I removed the ISSUE_TEMPLATE as I don't have an issue, just want to gauge general interest).

We're exploring migrating to snowflake from redshift and we heavily depend on [sqlalchemy_redshift.commands.UnloadFromSelect](https://github.com/sqlalchemy-redshift/sqlalchemy-redshift/blob/master/sqlalchemy_redshift/commands.py#L107). Is there any interest in providing a `snowflake_sqlalchemy.commands.C

[2018-09-11 21:40] smtakeda commented on #58
Yes, you are welcome to contribute to the Snowflake SQLAlchemy improvement!

[2018-09-14 13:19] robin900 opened #59 "Table objects with TIMESTAMP(timezone=True) columns don't produce TIMESTAMP_TZ columns in Snowflake"
Python: 2.7.10
Platform: Darwin-16.7.0-x86_64-i386-64bit

pip:

snowflake-sqlalchemy==1.1.2
# snowflake-connector-python==1.6.8 # Installed as dependency for snowflake-sqlalchemy
# sqlalchemy==1.2.11 # Installed as dependency for snowflake-sqlalchemy, alembic

I attempted to take a logical Table object in SQLA and invoke `create(bind=my_snowflake_engine)`. The table was created, but the columns wh

[2018-10-16 15:48] nrth opened #61 "SQLAlchemy >= 1.2 multi table support"
1. What version of Python are you using (`python --version`)?

`python 2.7.12`

2. What operating system and processor architecture are you using?

`Linux-4.4.0-137-generic-x86_64-with-Ubuntu-16.04-xenial`

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you do?

Multi table update does not work any longer:
- `table1.update().values(name=table2.c.name).wher

[2018-11-08 02:16] #61 closed

[2018-11-08 02:17] #59 closed

[2018-11-08 10:37] #57 closed

[2018-11-23 01:24] NoazDad opened #70 "'module' object is not callable"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.6.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwin-17.7.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

4. What did you do?
If pos

[2018-12-18 15:03] mike-seekwell opened #73 "SQLAlchemy connector returning incorrect case for quoted uppercase alias"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwin-17.7.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
Name                    Version

[2018-12-18 16:59] smtakeda commented on #73
@mike-seekwell it seems tough to address this, because Snowflake dialect may not detect the given name, e.g., `CC_CITYU`, is in case-insensitive or not. I would say this is a known limitation.

[2018-12-18 16:59] smtakeda commented on #73
@mike-seekwell it seems tough to address this, because Snowflake dialect may not detect the given name, e.g., `CC_CITYU`, is in case-insensitive or not. I would say this is a known limitation.

[2018-12-18 17:16] mike-seekwell commented on #73
Any suggestions on a workaround? This is what I'm doing now, which works for my usecase, but I'm sure there are a different set of issues with it.

[code]

[2018-12-19 19:57] villebro commented on #73
By using dbapi1 you should be able to get the correct case from your query (you seem to be using dbapi2). If you need further help let me know

[2018-12-29 01:02] smtakeda commented on #73
@mike-seekwell with the proposed change, lots of existing tests will fail, e.g., https://github.com/snowflakedb/snowflake-sqlalchemy/blob/master/test/test_core.py#L346 where the column names are expected to be in lower case.

A challenge is when running the following query, the column names are `COL1` and `COL1`, which are not distinguishable by the clients:
[code]

[2018-12-29 01:03] smtakeda commented on #73
@villebro could you elaborate it? I'm not sure how the clients can detect the cases.

[2018-12-29 03:06] smtakeda commented on #70
Sorry for late response. looking now.

[2018-12-29 05:48] smtakeda commented on #70
The fix would be in `setup.py`:
[code]

[2018-12-29 05:55] #42 closed

[2018-12-29 05:56] smtakeda commented on #42
not reproducible in the latest versions.

[2018-12-30 07:57] villebro commented on #73
@smtakeda if I remember correctly, the cursor description retains the correct case for all columns.

[2018-12-30 18:49] smtakeda commented on #73
Ok, I think I understand the issue here. A short answer is it cannot be addressed unless we have lower case metadata mode in the Snowflake DB.

Snowflake DB stores all object identifiers in upper case by default. But if the quotes are added, the cases are preserved. For example, the column names of the following query will be `COL1`, `Col2` and `COL3`:

[code]
Note the table name `tbl` is stored i

[2019-01-04 05:37] #70 closed

[2019-02-10 15:03] smtakeda commented on #58
The documentation is not complete but v1.1.8 introduced `CopyInto`.
Please try and let us know if you have questions.

[2019-02-10 15:03] #58 closed

[2019-02-10 20:33] villebro opened #80 "Regression in version 1.1.8 when creating connection"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.6.7 (Linux), 3.7.2 (MacOS)

2. What operating system and processor architecture are you using?
Linux, MacOS

4. What did you do?
If possible, provide a recipe for reproducing the error.
A complete runnable program is good.
Creating a connection to "snowflake://USER:P

[2019-02-11 01:27] smtakeda commented on #80
Sorry about inconvenience. For now, 1.1.8 was dropped. Due to miscommunication with the release team, an incomplete package was released. Github code should be good. Will fix the pypi package tomorrow.

[2019-02-11 20:30] #80 closed

[2019-02-11 20:36] villebro commented on #80
Thanks @smtakeda for fixing this.

[2019-02-11 20:38] villebro commented on #73
It is my understanding that this can be closed, as the correct cases can be found from the cursor description.

[2019-02-11 20:55] #73 closed

[2019-02-27 23:54] kforeman opened #84 "Setting `numpy=True` causes timezone to be dropped"
We have tried to switch from `snowflake-connector` to `snowflake-sqlalchemy` in order to take advantage of some of its features (numpy compatibility, connection pool management through engines, querying directly into Pandas using `pd.read_sql_query()`, but we're running into an issue that we can't both get numpy-compatible query results and timezones simultaneously.

Turning on `numpy=True` when c

[2019-02-27 23:59] kforeman commented on #84
Looking back at it now, I see that using only the engine with numpy turned off will give us what we want. But for legacy code that expects a connection (stuff that was written previously and used `snowflake-connector`) we're using `engine.raw_connection()` which still has the issue.

[2019-03-06 14:13] smtakeda commented on #84
That's a known limitation. When I implemented numpy datatype support, there was no timezone associated with `datetime64`. Will look into it...

[2019-03-07 02:57] bkyryliuk opened #85 "Import from non existent module"
https://github.com/snowflakedb/snowflake-sqlalchemy/blob/80191ba13bf7d0216e2d18225120803383034ed0/snowdialect.py#L23

This imports from the un-existent package and couples this lib with the https://github.com/snowflakedb/snowflake-connector-python

This and name-spacing makes it probably impossible to use in the bazel build system

It would be nice to either merge those 2 libraries or completely d

[2019-03-21 14:34] micaelbergeron opened #86 "snowflake-sqlalchemy breaks table creation with indices for all dialects"
1. What version of Python are you using (`python --version`)?

Python3.6

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Linux-5.0.2-arch1-1-ARCH-x86_64-with-arch

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you do?
If possible, provide a recipe for reproducing the error.
A

[2019-03-27 16:47] smtakeda commented on #85
This was released in v1.1.11

[2019-03-27 16:47] #85 closed

[2019-03-28 06:35] villebro opened #89 "Passing session parameters to engine/session"
Is there a way to pass session parameters to `snowflake-sqlalchemy`? Specifically I would like to override the account setting for `QUOTED_IDENTIFIERS_IGNORE_CASE`, but possibly other settings, too. I tried poking at the `URL`, `engine_params` and `metadata_params` but wasn't able to change the default settings. All help much appreciated.

[2019-03-28 20:35] smtakeda commented on #89
Try `connect_args`:
[code]

[2019-03-29 16:54] villebro commented on #89
Thanks for the quick help @smtakeda!

[2019-03-29 16:54] #89 closed

[2019-04-05 00:06] keller00 opened #90 "Comments missing from reflected tables"
As described [here](https://stackoverflow.com/questions/55412332/snowflake-sqlalchemy-cant-inspect-column-comments) `snowflake-sqlalchemy` does not seem to retrieve comments of column when reflecting tables.

It seems like we retrieve the comments, but then discard it along the way.

[2019-04-05 20:35] keller00 commented on #90
Problem has been fixed, fix is coming in next release.

[2019-04-05 20:35] #90 closed

[2019-04-10 15:04] ztane opened #92 "Too long inserts attempted (maximum number of expressions in a list exceeded, expected at most 16,384, got 98,508)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.6.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Linux-4.15.0-46-generic-x86_64-with-Ubuntu-18.04-bionic

3. What are the component versions in the environment (`pip list`)?

[2019-04-11 21:30] keller00 commented on #84
@kforeman could you verify what you'd like to achieve?
I think fully supporting `datetime64` would be desirable, but that will not solve your backwards compatibility problem, it'd do the opposite.

[2019-04-11 23:48] kforeman commented on #84
@keller00 the main concern is that using
[code]
strips the timezones from the results. It successfully converts decimal to float, but leaves us with broken datetimes.

Using either the older `snowflake-connector` package or `sqlalchemy.create_engine(snowflake.sqlalchemy.URL(..., numpy=False)).raw_connection()` with the newer package will still give us timezones, but it leaves the decimals as objec

[2019-04-12 16:30] keller00 commented on #84
Okay, I'll work on that engine giving you timezones, as it should

[2019-04-12 22:53] keller00 commented on #84
Could you tell me the numpy version you have installed?

[2019-04-12 23:09] kforeman commented on #84
[code]

[2019-04-15 00:13] keller00 commented on #84
As it says here: https://docs.scipy.org/doc/numpy/reference/arrays.datetime.html

I'm not sure whether `numpy=True` should return a `numpy.datetime64` with a timezone attached to it. However; it seems like you can just assume UTC when you get a `numpy.datetime64` without a timezone.
This seems to be done by `pandas` and not `numpy` when you set `numpy=''`.

[2019-04-16 21:49] #86 closed

[2019-04-17 06:19] ztane commented on #92
Switching to `qmark` is currently not a solution either, as a bug in the connector (https://github.com/snowflakedb/snowflake-connector-python/issues/168) causes the `None`s not be mapped to NULLs.

[2019-04-17 22:41] keller00 commented on #92
Sorry @ztane for not answering you earlier, it appeared as you answered your own question.
We can pretty quickly fix whatever issue you encounter with `qmark` in the connector, but right now we won't have time to make `snowflake-sqlalchemy`'s engine switch on it's own.
However; for the future let's leave this issue open as a reminder.
Let us know if you run into any other issues with `qmark` and t

[2019-04-22 03:17] clausherther opened #93 "Retrieving column metadata for columns of type `float` returns error"
Querying column metadata for Snowflake tables containing a column of type `float` returns the error below. This is also true when connecting using the `cache_column_metadata=True` option.

[code]

[code]

`__init__() got an unexpected keyword argument 'scale'`

[2019-04-22 03:24] clausherther commented on #93
Upgrading to latest version of both SQL Alchemy and SQL Alchemy Snowflake resolved this. Sorry!

[2019-04-22 03:24] #93 closed

[2019-04-23 17:43] micaelbergeron commented on #86
@keller00 Can you please provide insights about why this has been closed? It doesn't seem to be fixed.

[2019-04-23 17:46] keller00 commented on #86
According to my testing this has fixed it:
https://github.com/snowflakedb/snowflake-sqlalchemy/blob/3741cd0363e1c08c0b5f73c8207e8be72a778f17/snowdialect.py#L567

[2019-05-03 18:55] micaelbergeron commented on #86
Thanks @keller00 , for some reason I was looking at an old revision.

[2019-05-03 19:57] keller00 commented on #84
Newest release of `snowflake-connector-python` (1.7.10) should have fix for this issue, could you please verify @kforeman ?

[2019-05-07 01:18] smtakeda commented on #92
This was fixed in v1.7.11. Try and let me know.

[2019-05-07 01:18] #92 closed

[2019-05-07 01:19] smtakeda commented on #84
This was fixed in 1.7.11

[2019-05-07 01:19] #84 closed

[2019-05-08 09:49] ztane opened #96 "The schema, database parts of the database URL are being *ignored* for a new connection at least under circumstances:"
Using 3.6.7; Linux-4.15.0-47-generic-x86_64-with-Ubuntu-18.04-bionic; packages
[code]

I am running the following code:

[code]

Expected output: exception for trying to connect to a database that does not exist

Actual output

[code]

Expectation would be an *exception would have been raised*. Instead, everything succeeds, and None is printed for last 2.

[2019-05-08 10:32] ztane commented on #56
The `JSON` type as it works in PostgreSQL would allow writing the query as

[code]

which is a significant improvement

[2019-05-08 10:34] ztane commented on #96
I can see a login request with `/session/v1/login-request?request_id=12345678&databaseName=DBNAME&schemaName=SCHEMA&warehouse=THE_WH&roleName=TESTING&request_guid=87654321` I do not quite get why this doesn't become the default db, schema then?

[2019-05-09 15:57] smtakeda commented on #96
Try this?
[code]

[2019-05-10 16:18] colemandsmith opened #97 "CopyInto statement doesn't compile correctly when the source is storage and the destination is a table"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.6.8 :: Anaconda, Inc.

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Darwin-18.5.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

snowfl

[2019-05-11 06:46] villebro opened #98 "Table inspector unable to get columns for table with period in name"
This is a fairly minor bug as it isn't exactly best practice to include periods in table names, but as Snowflake supports periods in table names I think this should also work in `snowflake-sqlalchemy`. I ran into this when testing a new feature in Apache Superset for Apache Drill, where periods in table names are common.

Please answer these questions before submitting your issue. Thanks!

1. What

[2019-05-13 18:00] colemandsmith opened #99 "CopyInto's maxfilesize method expects a bool instead of an int"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.6.8 :: Anaconda, Inc.

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Darwin-18.5.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

snowfl

[2019-05-14 21:19] colemandsmith commented on #99
cc @smtakeda
Hi, and sorry to bother, but right now we're at a bit of a roadblock on this and issue #97. I've made PRS #100 and #101  for this issue and the other, respectively, and would appreciate if someone from the dev team could take a look at these.
(the test runs for my PRs errored, but I'm not sure why - it looks unrelated to the code changes but rather related to some decryption process?)

[2019-05-15 01:12] smtakeda commented on #99
@colemandsmith Let me try to get somebody on the issues.

[2019-05-17 20:54] #99 closed

[2019-05-17 20:55] #97 closed

[2019-05-17 20:56] #96 closed

[2019-06-06 13:02] olysyuk opened #107 "Semistructured Data support for UPDATE and INSERT"
Hello
I have declared class using `declarative_base`

[code]

While trying to update existing video I change categories to array:

[code]

As a result I see following statement generated
[code]
I believe that something like this should be instead
[code]

Any support of ARRAY, OBJECT, VARIANT on insert is highly appreciated. For example postgresql has it's own JSON type.

[2019-06-11 20:58] skapoor-coatue opened #108 "CSVFormatter class has `FIELD_DELIMETER` spelled incorrectly"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? `Python 3.7.1`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)? `Darwin-17.7.0-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you

[2019-07-25 21:32] jcampbell opened #109 "Type Synonyms not exported to top-level module"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.7.3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwin-18.7.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?

[2019-08-05 23:49] smtakeda commented on #109
If the types should be exported at top level, wouldn't the test cases be like this?
[code]

[2019-08-07 01:51] jcampbell commented on #109
I believe that's correct, yes.

On Mon, Aug 5, 2019, 7:49 PM Shige Takeda <notifications@github.com> wrote:

[2019-08-16 09:00] stefanseltmann77 opened #111 "Relatively High Lag for Query Results"
Hello,
I’m currently using the connector in a project that involves a web-gui based on flask.
In this application I’m experiencing lags from 150ms to 400ms or even more for each query passed along to the snowflake.
Session pooling is activated by default via the snowflake connector as far as I know. That's also what the log shows.
The mentioned lags for each query makes the connection to slow for

[2019-08-16 19:49] smtakeda commented on #111
Looks like those lags are reasonable to execute a query and get the results:
[code]
It includes the network latency from the client to Snowflake endpoint, SQL compile, execute, stage the results and back to the client.

[2019-08-17 15:13] stefanseltmann77 commented on #111
Ok, so it means, I have done nothing wrong, and I rather have to lower my expectations right?
Cheers,
Stefan

[2019-08-19 18:27] Jflick58 opened #112 "Unable to use on AWS Lambda"
1. What version of Python are you using (`python --version`)?

Tried 3.6.7 and 3.7.1

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Building distribution on Linux-4.15.0-1035-aws-x86_64-with-Ubuntu-18.04-bionic,

Running on AWS Lambda (Linux-4.14.133-88.105.amzn1.x86_64-x86_64-with-glibc2.2.5)

3. What are the compon

[2019-08-19 18:30] villebro commented on #111
I think this is to be expected (OLAP vs OLTP). I think your use case might be more suited for something like Redis or Postgres.

[2019-08-22 17:07] Jflick58 commented on #112
@smtakeda bumping this issue. Curious if the Kernel versioning difference is causing the issue? I've asked my infra guy to roll me out a build box with the same platform version in the interim.

[2019-08-22 19:28] pratimapatel2008 opened #113 "Incorrect SQL generated for INSERT with CTE"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`Python 2.7.10`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Darwin-18.7.0-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did yo

[2019-08-30 15:29] csdev opened #114 "Array results should be returned as Python lists"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
[code]

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
[code]

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?
5. What did you expect to see?

[2019-09-05 21:35] Jflick58 commented on #112
@SnowflakeBrian bumping again for visibility.

[2019-09-05 23:46] howryu commented on #112
I am not a lambda expert, but generally it means that you did not correctly installed snowflake sqlalchemy.

[2019-09-10 08:31] idoki-boxycharm opened #115 "Support Identity Provider (IdP) Authentication"
Library does not support SSO (single sign on) authentication from IdP such as Okta. This authentication method becomes widespread in organizations, supporting it would make the library usable for this use-case.

The SnowFlake [python connector](https://docs.snowflake.net/manuals/user-guide/python-connector-example.html#connecting-using-federated-authentication) supports it out-of-the-box and can b

[2019-09-10 17:18] Jflick58 commented on #112
@howryu  what do you mean? We build the dist with  the python-lambda library and the same version works invoking the lambda function with a test event locally. I think it may be a platform incompatibility.

[2019-09-11 00:13] smtakeda commented on #115
`authenticator` parameter can be specified in `connect_args` parameter in `create_engine` method.
[code]

[2019-09-11 00:13] #115 closed

[2019-09-11 00:59] smtakeda commented on #112
@Jflick58 can you do this?
for Python3.6
[code]
for Python3.7
[code]

[2019-09-11 01:19] smtakeda commented on #112
Verified my test case worked:

lambda_handler.py
[code]

package.sh
[code]

Uploaded the zip to lambda and run manually.

[2019-09-11 17:17] Jflick58 commented on #112
@smtakeda I will give this a shot today.

[2019-09-16 15:01] smtakeda commented on #112
There is known issue with the namespace package, e.g., snowflake, which is not recognized by the lambda. The workaround is add `__init__.py` to the directory.

[2019-09-17 16:47] SteveAlexander opened #116 "Race in chunk downloader?"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.7.3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Darwin-18.6.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you

[2019-09-17 17:08] SteveAlexander commented on #116
ok, managed to get it to fail, after a much longer time than without debugging logs.

Looking through the logs, the problem seems to occur after a dropped connection:

[code]

then lots of SSL reconnection stuff, followed eventually by Thread-368 running into a problem:

[code]

[2019-09-17 18:03] necaris opened #117 "Cannot insert to tables with auto-incrementing primary keys"
When a table has an auto-incrementing primary key, attempting to call `.insert()` without supplying a value for the auto-incrementing field unexpectedly fails.

It looks like this could be solved by having `SnowflakeExecutionContext` implement `get_insert_default()`, as `PGExecutionContext` does: https://github.com/zzzeek/sqlalchemy/blob/3980a9a455d08c5073cabc3c2b77de46fa36d7b4/lib/sqlalchemy/dial

[2019-09-18 06:01] smtakeda commented on #116
Can you please try the latest Python Connector 1.9.0? _chunk_locks was removed and instead a single lock is used to protect the download cache.

[2019-09-18 15:25] villebro opened #118 "Comments not created when creating new table"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`3.7.4`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Darwin-18.7.0-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip list`)?
[code]
4. What did you do?

Wh

[2019-09-19 21:29] SteveAlexander commented on #116
Thanks, that seems to have fixed it

[2019-09-19 21:29] #116 closed

[2019-09-19 21:32] SteveAlexander commented on #117
I found that the standard sqlalchemy autoincrement didn't play well with MERGE, so I use this instead to have sequence-based autoincrementing id columns:

[code]

[2019-09-20 04:45] smtakeda commented on #114
Object/Variant data mapping is not complete. It is already in JIRA in the mid term plan.

[2019-09-20 14:46] necaris commented on #117
@SteveAlexander thanks for the workaround! I'm not using `MERGE` here, but it seems the explicit `Sequence` and `server_default` clause on the column make this work regardless.

[2019-09-30 22:06] #113 closed

[2019-09-30 22:06] #111 closed

[2019-10-03 13:48] WilliamHoltam opened #120 "APIException: asn1crypto.keys.PublicKeyInfo().unwrap() has been removed, please use oscrypto.asymmetric.PublicKey().unwrap()"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Windows-10-10.0.18362-SP0

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?
If possib

[2019-10-03 16:32] smtakeda commented on #120
Duplicates https://github.com/snowflakedb/snowflake-connector-python/issues/209

We'll release 2.0.1 including the patch.

Thanks for reporting the issue anyway.

[2019-10-03 16:32] #120 closed

[2019-10-09 22:03] smtakeda commented on #117
I recall `autoincrement=True` cannot used in SQLAlchemy, because https://www.python.org/dev/peps/pep-0249/#lastrowid is not supported where SQLAlchemy attempts to get the last inserted id.

Yes, using Sequence is the right solution:
https://github.com/snowflakedb/snowflake-sqlalchemy/blob/master/test/test_core.py#L33-L49

[2019-10-09 22:03] #117 closed

[2019-10-10 13:53] necaris commented on #117
@smtakeda note that SQLAlchemy supports databases without `lastrowid` functionality so `autoincrement=True` does not require that to work -- the issue here is that the Snowflake dialect doesn't completely signal to SQLAlchemy that this isn't actually supported.

I would expect that at the very least the docs should indicate this. I'd be happy to make a pull request but I can't see where the docs a

[2019-10-14 08:52] schild opened #121 "what people need is just generate the uniquied id,why they need to register a account"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

3. What are the component versions in the environment (`pip list`)?

4. What did you do?
If possible, provide a recipe for reproducing the e

[2019-10-14 10:21] smtakeda commented on #117
hmm, `postfetch_lastrowid` is set to `False`:
https://github.com/snowflakedb/snowflake-sqlalchemy/blob/master/snowdialect.py#L91

[2019-10-21 15:03] ms32035 opened #122 "Alembic autogenerate fails with alembic_version table not found"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

3. What are the component versions in the environment (`pip list`)?
alembic                    1.2.1
SQLAlchemy                 1.3.10
s

[2019-10-22 10:19] smtakeda commented on #122
Without specifying a schema along with db, no schema is set to the session, so it cannot find the  table.
[code]

[2019-10-22 10:20] #121 closed

[2019-10-22 10:21] #112 closed

[2019-10-22 10:21] #109 closed

[2019-10-22 10:22] smtakeda commented on #109
Fixed in 1.1.15

[2019-10-22 10:24] smtakeda commented on #108
Fixed in v1.1.14

[2019-10-22 10:24] #108 closed

[2019-10-22 10:34] ms32035 commented on #122
alembic has as a setting `alembic_table_schema` and this is ignored https://alembic.sqlalchemy.org/en/latest/api/runtime.html?highlight=compare_server_default

[2019-10-22 13:49] jcampbell commented on #109
Thank you @smtakeda !

[2019-10-24 14:31] ynux opened #124 "insert with autoincrement fails with sqlalchemy.exc.ArgumentError"
## What did I do

Create a table with an autoincrement  column as in your [README](https://github.com/snowflakedb/snowflake-sqlalchemy#auto-increment-behavior) . Then fetch the table into a new MetaData object and insert, relying on autoincrement / no value for that column.

### What did I expect

A row to be created, with the autoincrement column filled from the sequence

### Error

sqlalchemy.ex

[2019-10-24 18:58] smtakeda commented on #124
oh, thanks for pointing out the typos. Will fix them.

As far as I investigated, `autoincrement=True` doesn't work in general mainly because no last inserted id is supported by Snowflake.

[2019-10-24 21:19] ynux commented on #124
I agree, autoincrement=True gets ignored.

[2019-10-25 10:37] mike-seekwell opened #125 "network_timeout and login_timeout are not respected"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.6

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
NA
3. What are the component versions in the environment (`pip list`)?

Flask-SQLAlchemy==2.2
SQLAlchemy==1.1.14
asn1crypto==0.24.0
snowf

[2019-11-01 04:01] arthurdysart opened #127 "[Version 1.1.16] Import path `azure.storage.blob`; cannot import name 'BlockBlobService'"
1. What version of Python are you using (`python --version`)?

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

3. What are the component versions in the environment (`pip list`)?

4. What did you do? If possible, provide a recipe for reproducing the error.A complete runnable program is good.

Installed `snowflake-conne

[2019-11-01 12:55] oh54 commented on #127
I ran into the same issue.

[code]
also installs the latest version of azure storage blob (currently azure-storage-blob==12.0.0).

Then trying to import anything from snowflake.sqlalchemy leads to ImportError: cannot import name 'BlockBlobService'.

I uninstalled everything, then manually installed the previous version of azure-storage-blob before installing snowflake-sqlalchemy.
[code]

This reso

[2019-11-01 14:15] arthurdysart commented on #127
Rolling back snowflake and azure package versions also worked for me:
[code]

I'd consider this a temporary fix though. Hopefully the import paths can be fixed soon

[2019-11-01 16:31] snowstakeda commented on #127
https://github.com/snowflakedb/snowflake-connector-python/issues/225
We'll release 2.0.3 soon.

[2019-11-01 22:45] snowstakeda commented on #127
Released.

[2019-11-01 22:45] #127 closed

[2019-11-04 18:32] klkpratik opened #128 "Authentication Token Expired (390114) - Any solution for snowflake-sqlalchemy?"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Windows2012ServerR2 6.3.9600-SP0

3. What are the component versions in the environment (`pip list`)?
flask
SQLAlchemy
snowflake-con

[2019-11-04 18:41] notkriswagner commented on #128
@klkpratik Try setting `client_session_keep_alive=True` as one of the connection parameters in your create_engine() function call

[2019-11-04 20:34] jtalmi opened #129 "Unpinned snowflake python connector causing broken imports"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Snowflake Connector for Python Version: 2.0.3, Python Version: 3.6.8, Platform: Linux-4.15.0-1043-aws-x86_64-with-Ubuntu-18.04-bionic

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Snowf

[2019-11-04 21:23] klkpratik commented on #128
@notkriswagner got this error -

TypeError: Invalid argument(s) 'client_session_keep_alive' sent to create_engine(), using configuration SnowflakeDialect/QueuePool/Engine.  Please check that the keyword arguments are appropriate for this combination of components.

[2019-11-05 17:08] klkpratik commented on #128
@notkriswagner I added this parameter in the create_engine() call but still the connection got dropped after 4 hours.

[2019-11-05 17:41] klkpratik commented on #128
@smtakeda That is what I exactly tried

[2019-11-12 16:24] ms32035 opened #130 "Import of SnowflakeOCSPAsn1Crypto crashes Python"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.7.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Darwin-19.0.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

see attached log file

4

[2019-11-12 18:33] ms32035 commented on #130
My mistake, this should actually go to https://github.com/snowflakedb/snowflake-connector-python

[2019-11-12 23:55] smtakeda commented on #129
Please try v2.0.3 and use the latest `requests`.

[2019-11-13 00:13] smtakeda commented on #130
ok, I can reproduce it:
[code]

[2019-11-13 00:16] smtakeda commented on #130
Looks like this started happening from `cffi==1.13.1`

[2019-11-13 00:20] ms32035 commented on #130
quite possible, I tested downgrading that one version back and it didn't help. Does it completely terminate python for you?
[code]

[2019-11-13 13:36] snowstakeda commented on #130
No, it continues running. Those look like warnings. In my case, downgrading cffi to 1.13.0 removed the warnings.
[code]

[2019-11-13 16:33] smtakeda commented on #130
This reproduces it:
[code]

[2019-11-13 17:02] smtakeda commented on #130
Filed https://github.com/wbond/oscrypto/issues/34

[2019-11-13 18:31] smtakeda commented on #130
Warning doesn't stop the program.
We'll suppress the warning anyway.

[2019-11-13 18:32] ms32035 commented on #130
ok, will investigate if downgrade of the package helps for me tomorrow

[2019-11-14 10:27] ms32035 commented on #130
ok, the warning was just covering up the actual problem. Traced the issue to be caused by this https://forums.developer.apple.com/thread/119429

[2019-11-14 15:41] smtakeda commented on #130
Interesting. Sounds like Catalna issue. We'll keep eyes on it.

[2019-11-14 15:41] #130 closed

[2019-11-15 17:33] keller00 commented on #118
This has been fixed and will be included in the next release

[2019-11-15 17:49] villebro commented on #118
Thanks @keller00 , much appreciated!

[2019-11-19 11:41] delijati commented on #128
Any update on this. Should we do an good old `restart server` after 3:59

[2019-11-24 14:08] villebro opened #132 "Calling str on custom_types throws Exception"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`Python 3.7.4`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Darwin-18.7.0-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you

[2019-11-25 06:05] snowstakeda commented on #125
what is the version of snowflake-connector?

[2019-11-25 06:07] snowstakeda commented on #129
This duplicates https://github.com/snowflakedb/snowflake-connector-python/issues/238
Should be fixed in v2.1.0

[2019-11-25 06:41] snowstakeda commented on #128
Verified the client session keep alive option worked.
[code]

From the given source code, I changed:
[code]
to
[code]
and removed the background job.

[2019-11-25 14:42] akravetz opened #133 "Unable to specify database when declaring tables in sqlalchemy"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`Python 3.7.3`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Linux-4.15.0-1047-aws-x86_64-with-debian-9.11`

3. What are the component versions in the environment (`pip list`)?
relevant

[2019-11-25 15:25] dustymaxa commented on #133
Hi @akravetz,

If you are looking to use multiple databases, here is a way to configure it with sqlalchemy : https://flask-sqlalchemy.palletsprojects.com/en/2.x/binds/.

 `__bind_key__ = 'MY_DATABASE'` specifies the database you are using for your model

Dusty

[2019-11-25 15:55] akravetz commented on #133
Hi Dusty, thank you for the quick reply!  From reading through the document you linked to and the underlying source code, it looks like flask-sqlalchemy uses some custom code to create a new engine for each database.  Since tables from different schemas are actually bound to different engines, you can't actually use tables created with different `__bind_key__`'s together.  Let me know if I'm missi

[2019-11-25 17:01] delijati commented on #128
Jup `client_session_keep_alive` also works for me ... but keep in mind you have to call `engine.dispose` (sqlalchemy) or the thread in my case `gitlabci` will hang forever.

[2019-11-25 19:11] keller00 commented on #132
This used to work months ago. SQLAlchemy must have reworked their internals.

[2019-11-27 21:00] kkwan-tc opened #134 "Turning SSL on"
Python Version 3.6.5
Darwin-18.7.0-x86_64-i386-64bit

Relevant package versions:
snowflake-connector-python 2.0.4
snowflake-sqlalchemy       1.1.16
SQLAlchemy                 1.3.5

I'm having trouble finding this in the documentation
when creating an engine is SSL turned on by default? If not is this the correct way to turn it on? (is it supported?)

[code]

Thanks!

[2019-11-27 21:26] kalyanaramansanthanam opened #135 "support comments on table"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 2.7.15+

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Linux-4.15.0-65-generic-x86_64-with-Ubuntu-18.04-bionic

3. What are the component versions in the environment (`pip list`)?
[

[2019-11-27 21:27] keller00 commented on #135
Duplicate of #118

[2019-11-27 21:27] #135 closed

[2019-11-27 21:27] keller00 commented on #135
Included in next release, thank you!

[2019-11-27 23:01] smtakeda commented on #134
SSL is always enabled, and there is non-SSL endpoint in the production environment.

[2019-11-28 14:39] kkwan-tc commented on #134
Thanks @smtakeda, could you explain what you mean by there is non-SSL endpoint in the prod env? I'm understanding that to be that if we explicitly turn off SSL we would still be able to connect?
Is this correct?
 Thanks in advance.

[2019-11-28 20:22] smtakeda commented on #134
@kkwan-tc no, there is no non-SSL option available.

[2019-11-29 13:14] kkwan-tc commented on #134
Awesome, thank you!

[2019-11-29 13:14] #134 closed

[2019-12-03 03:18] snowstakeda commented on #129
@jtalmi , can you please try v2.1.0 and let us know?

[2019-12-03 03:21] #118 closed

[2019-12-09 18:51] keller00 commented on #132
I have fixed the issue, it'll be included in the next release

[2019-12-10 18:51] keller00 commented on #124
@ynux could you try removing the list itself, I just checked sqlalchemy documentation and found [here](https://docs.sqlalchemy.org/en/13/core/connections.html#sqlalchemy.engine.Connection.execute.params.*multiparams/**params) that you should be doing:
[code]
This works for me

[2019-12-13 03:33] aiguofer opened #139 "AttributeError: 'SnowflakeDialect' object has no attribute 'driver'"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.7.3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Linux 64bit

3. What are the component versions in the environment (`pip list`)?
snowflake-sqlalchemy
petl

4. What did you do?
[code]

[2019-12-16 16:46] dylan-murray opened #142 "`_get_schema_columns` broken in release v1.1.17"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

`3.7`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

`Ubuntu`

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you do?

Issue is breaking code th

[2019-12-16 19:24] rhlahuja commented on #142
We likely need a `snowflake.connector.paramstyle = u'pyformat'` before the `result = connection.execute(...)`.

This works:
[code]
however, this doesn't:
[code]

[2019-12-19 22:09] dusty-campanella-maxa opened #143 "Nice workaround for 'SnowflakeCursor' object has no attribute 'lastrowid' ?"
I would like to have an id value returned when I execute simple INSERT query. I red that snowflake-sqlalchemy wasn't supporting the **lastrowid** attribute. Do you have a nice workaround?

Thanks,

Dusty

[2019-12-20 11:37] ms32035 opened #144 "SNOW-159471 Alembic op.alter_column generates invalid SQL for rename"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

3.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

3. What are the component versions in the environment (`pip list`)?
[code]
4. What did you do?
alembic migration with the following spe

[2019-12-23 07:32] anujkumar93 opened #145 "Redundant alembic migrations with foreign keys drop/create"
1. What version of Python are you using (`python --version`)?
A. 3.7.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
A. Darwin-18.7.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
Relevant ones:
Flask                      1.1.1
Flask-Migrate              2.5.2
Flask-SQLAlchemy

[2019-12-23 22:00] anujkumar93 opened #146 "Install from source breaks python interpreter"
1. What version of Python are you using (`python --version`)?
A. Python 3.7.4

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
A. Darwin-18.7.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?
`pip install -e git+git@github.com:snowflakedb/snowflake-sqlal

[2019-12-23 22:17] keller00 commented on #146
Unfortunately we have no fix for this, the problem is not with our code. It's related to `setuptools`.

We will look into this later, but not in the near future.

For now don't use `-e` is my suggestion.

[2019-12-23 22:21] keller00 commented on #146
Lets keep an eye on this, as this might be the cause: https://github.com/pypa/pip/issues/6055

[2019-12-23 23:09] anujkumar93 commented on #146
Using the following in my requirements.txt file worked. Thanks!
[code]

[2020-01-08 13:19] ynux commented on #124
Sorry, but your command throws the same error when done on the t2 (with metadata2) if you exactly follow my steps. It works with t1 / metatdata. Maybe I should have put more emphasis on the part that I suspect to be the issue: The reflected metadata2. Things work as long as you work with the metadata from the table creation. But when you reflect the table back from an existing table with a sequenc

[2020-01-09 09:58] edmartin101 opened #148 "Import failure when installed via external package - packaged as an egg"
1. What version of Python are you using (`python --version`)?
Python 2.7.16
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwin-18.7.0-x86_64-i386-64bit
3. What are the component versions in the environment (`pip list`)?
[code]
4. What did you do?
A packaged dependency that includes Snowflake SQL via an egg (i.e a pr

[2020-01-09 14:02] ynux commented on #124
Thanks for reopening. I just tried running the inspector against this column, and it in fact comes back with `'autoincrement': True` , which might confuse both people and code as this is not directly implemented in snowflake-sqlalchemy [https://docs.snowflake.net/manuals/user-guide/sqlalchemy.html#auto-increment-behavior](https://docs.snowflake.net/manuals/user-guide/sqlalchemy.html#auto-increment

[2020-01-09 16:45] keller00 commented on #148
Python 2.7 is not supported as of the next `snowflake-python-connector` version.
So if it only affecting legacy version then we will not fix this.
However; if you would like this fixed we'd welcome a PR.

[2020-01-09 17:16] edmartin101 commented on #148
@keller00 Thanks for the quick feedback. I will take a further look at the feasibility of making a PR.

[2020-01-12 00:46] keller00 commented on #124
This could be solved by somehow remembering which sequence was used to drive this `autoincrement` column, @smtakeda

[2020-01-15 14:29] edmartin101 commented on #148
Have resolved this issue, by moving the import of VARIANT out of the Snowflake SQLAlchemy package, which while far from ideal has resolved the issue.

[2020-01-15 14:29] #148 closed

[2020-01-15 19:33] dlmiddlecote opened #150 "Defining VIEWs"
Hi,

I wondered if there is any support for defining `VIEWS` as sqlalchemy tables?

Thanks!

[2020-01-17 00:04] anujkumar93 commented on #145
cc @snowstakeda @keller00

[2020-01-21 19:54] akshjain83 commented on #130
@smtakeda @ms32035 How would someone possible go about disabling this warnings? This log messages are eating up too much of the log stream in my apps. Thanks in advance.

[2020-01-31 16:14] ynux opened #151 "For sample database, information_schema.columns, table reflection throws error"
When trying to reflect the 'COLUMNS' view in the information_schema of the snowflake_sample_data database, sqlalchemy throws an error (when getting the comment). It works for other databases.

1. What version of Python are you using (`python --version`)?
Python 3.7.4
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwi

[2020-02-03 17:03] bouke-nederstigt opened #152 "fire_sequence ExecutionContext.isinsert = True, expecting it to be false"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.7.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Linux-4.19.76-linuxkit-x86_64-with-debian-9.11

3. What are the component versions in the environment (`pip list`)?
alembic

[2020-02-07 17:06] biagaspar commented on #142
Is there an update on this? I have the same error but on my case I can't change the paramstyle from `snowflake.connector.paramstyle = u'qmark'` to `snowflake.connector.paramstyle = u'pyformat'` as I need to use `qmark` to bypass the Issue: `maximum number of expressions in a list exceeded, expected at most 16,384`.
This other Issue and solution suggestion can be seen here: [https://github.com/snow

[2020-02-07 19:43] keller00 commented on #142
This issue was resolved, I just forgot to close it here. @biagaspar could you open a new issue with your problem?

[2020-02-07 19:43] #142 closed

[2020-02-19 07:25] RoyalTS opened #156 "Microsecond gets tagged onto extreme datetimes"
Cross-posted from https://github.com/snowflakedb/snowflake-connector-python/issues/277. Parts of that issues, it now seems to me, are really issues with the SQLAlchemy dialect instead of the Python Connector.

1. What version of Python are you using (`python --version`)?

3.7.3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform(

[2020-02-19 09:16] RoyalTS opened #157 "Column names are converted to lowercase"
All column names, irrespective of their casing in the Snowflake database, seem to be converted to lower-case.

1. What version of Python are you using (`python --version`)?

3.7.3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Linux-4.15.0-1060-aws-x86_64-with-debian-buster-sid

3. What are the component versions in

[2020-02-19 16:54] kirkholmes opened #159 "syntax error line 1 at position 7 unexpected 'UNIQUE'."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`Python 3.7.6`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Windows-10-10.0.18362-SP0`

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?
I

[2020-02-19 17:17] keller00 commented on #159
Sure, I can look into this when I get some time.
I'm not sure `Flask-Migrate` is, is this just an Alembic issue?

[2020-02-19 17:36] kirkholmes commented on #159
Probably. :)

[2020-02-20 19:07] kirillal opened #160 "Redundant queries when introspecting."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`Python 3.6.9`
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Linux-4.19.76-linuxkit-x86_64-with-Ubuntu-18.04-bionic`
3. What are the component versions in the environment (`pip list`)?
[c

[2020-02-22 02:16] kirillal commented on #160
Also tried on snowflake-sqlalchemy==1.2.1. The same behavior - primary and foreign keys and comments queries are called for each table.

[2020-02-22 03:08] keller00 commented on #160
Note that Snowflake has a hard time limit on answering show commands. If you have too many tables it will time out and schema wide primary keys/column name querying becomes impossible.

So the connector will try once for the schema and then if it times out once it will remember that it’s impossible to do schema wide querying. In this case it will switch to table wide querying.

Let me look for the

[2020-02-22 03:10] keller00 commented on #160
Here’s the issue: #142
I bet this is what's happening.
I’ll verify your log when I’m at my computer.

[2020-02-22 13:32] kirillal commented on #160
Is there a reason to use show commands instead of select from information schema?

[2020-02-24 04:35] keller00 commented on #160
They have the same restriction (see https://docs.snowflake.net/manuals/sql-reference/info-schema.html):
To prevent performance issues, the following error is returned if the filters specified in an INFORMATION_SCHEMA query are not sufficiently selective:
    `Information schema query returned too much data. Please repeat query with more selective predicates.`

[2020-02-26 04:25] kirkholmes commented on #159
I have a little more background here. I am trying to get the github script flicket to work with Snowflake. The code comes with database migration scripts to set everything up. Looking through the files there is an op.create_index being used. I believe that is the cause of the issue. I'm wondering if there is a way with the snowflake sqlalchemy connector that when the dialect snowflake is used that

[2020-02-26 06:05] kirkholmes opened #161 "Use of JSON"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.7.6

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Windows-10-10.0.18362-SP0

3. What are the component versions in the environment (`pip list`)?
[code]
4. What did you do?
If pos

[2020-02-27 03:29] keller00 commented on #161
Thanks, @kirkholmes I will look into supporting JSONs!

[2020-02-27 03:33] keller00 commented on #159
I think you're doing good, @kirkholmes 😄
Snowflake doesn't support indexing, or the `+` operator.
These problems should be easily fixable. I'll try to get to these soon!

[2020-02-27 03:36] kirkholmes commented on #159
@keller00 that compliment just made my day after spending most of it beating my head against the wall! Now if I can only figure out how to get snowflake to work with Django! :)

[2020-03-03 19:54] kirillal commented on #161
@kirkholmes Did you try using VARIANT data type to handle JSON fields?
https://docs.snowflake.net/manuals/sql-reference/data-types-semistructured.html#variant

[code]

[2020-03-04 01:35] kirkholmes commented on #161
@kirillal I did not. The code was actually autogenerated as part of the migration script. I would think there would be a way that if JSON isn't supported that it would swap sa.JSON for something like sa.VARIANT to address it.

[2020-03-06 16:13] Stoltzman opened #163 "SQLAlchemy TypeError: 'NoneType' object is not subscriptable"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.8.1
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Windows-10-10.0.16299-SP0
3. What are the component versions in the environment (`pip list`)?
Package                       Versi

[2020-03-06 21:05] ghost opened #164 "TypeError: 'NoneType' object is not subscriptable when autoloading view"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.7.4

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Windows-10-10.0.17763-SP0

3. What are the component versions in the environment (`pip list`)?

4. What did you do?
If possible, provid

[2020-03-09 09:35] Stoltzman commented on #163
The fix in in the return statement as suggested in #164 solved it!

[2020-03-09 16:13] keller00 commented on #164
I think this was fixed by: #154

[2020-03-09 16:14] keller00 commented on #163
Closing this, duplicate of #164

[2020-03-09 16:14] #163 closed

[2020-03-10 08:29] RoyalTS commented on #157
@keller00 I see you self-assigned this. Does that mean you're working on this? If so, got a rough timeline?

[2020-03-10 16:48] keller00 commented on #157
I will when I find some time, I'm just trying to let you know that I have looked at it. But if yo need this in a short time frame, then I'd encourage you to open a PR, this helps us out immensely even if we end up fixing bugs in the PR submitted.

This whole issue comes from the fact that if you single quote in Snowflake then it is case sensitive, while not quoting something makes the string upper

[2020-03-11 16:20] Jopepato opened #166 "AWS lambda error: OSError: [Errno 38] Function not implemented"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.8
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
aws lambda
3. What are the component versions in the environment (`pip list`)?
asn1crypto==0.24.0
azure-common==1.1.25
azure-core==

[2020-03-23 21:41] keller00 commented on #166
Version < 2.0.0 is suggested for a different reason.
This is a duplicate of: https://github.com/snowflakedb/snowflake-connector-python/issues/287
Please follow that ticket!

[2020-04-02 09:14] bouke-nederstigt commented on #152
Do you have any ideas if/when this will be fixed?
I don't mind submitting a PR myself, but I'm not completely sure if this is expected behaviour or not.

[2020-04-06 17:41] jakezatecky opened #168 "KeyError returned when user lacks permissions to query metadata"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.7.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Windows-10-10.0.18362-SP0

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you do?

I

[2020-04-06 19:19] keller00 commented on #98
This was fixed by another issue previously.
I added a test to keep the current, working behavior.
Going to close the issue, @villebro

[2020-04-06 19:19] #98 closed

[2020-04-14 08:42] sneha-v commented on #112
@Jflick58 this also happens if slim:true is added in serverless file.. since slim tries to remove all .dist folders and snowflake-sqlalchemy is also .dist folder, it gets removed... hence removing slim:true in serverless would be a solution..

[2020-04-15 00:17] gloliva opened #169 "Cluster by does not support Expressions"
The `snowflake_clusterby` Snowflake-SQLAlchemy keyword arg double quotes expressions like `to_date(column_name)`. This causes SQL compilation errors as `"to_date(column_name)"` is treated as an object identifier, which doesn't exist.

This appears to be because Snowflake SQLAlchemy's cluster by support uses SQLAlchemy's IdentifierPreparer for handling quoting, which eventually calls  [_requires_qu

[2020-04-28 15:40] IzekChen opened #172 "TypeError: 'NoneType' object is not callable"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

  3.8.2

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

macOS-10.13.6-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

Package                    Ve

[2020-05-05 23:35] alexsherstinsky opened #173 "SQLAlchemy (snowflake.connector.errors.ProgrammingError) 002043 (02000): SQL compilation error"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? 3.7.4

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)? Darwin-19.4.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
Package                       Vers

[2020-05-07 20:42] #132 closed

[2020-05-08 22:29] DannyNemer commented on #144
We are seeing this issue, too. Any updates?

[2020-05-10 18:50] sfc-gh-mkeller commented on #144
Hey people, I triaged the issue and I'm sad to say that I can't fix this for you as we don't have a `snowflake-alembic` package.

However, I can tell you how to fix the behaviour yourself.

Just add the following code to the class we tell you to create here:
https://github.com/snowflakedb/snowflake-sqlalchemy#alembic-support
[code]
and don't forget to:
[code]

[2020-05-12 10:49] n-batalha opened #174 "Deduplication on queries without presence of primary key"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

3.7.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

`Darwin-19.4.0-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you do?

[2020-05-14 12:49] sagydr opened #175 "Snowflake table's default value is always NULL"
I noticed that does not matter what default value i'm giving the Column constructor, the Snowflake table will always have NULL as its default value.

[code]

and attached a screenshot of the created table (notice the default value is NULL):
![image](https://user-images.githubusercontent.com/9664064/81935367-37930a00-95f9-11ea-83e8-6bda2753a0c7.png)

[2020-05-27 12:16] chetansurwade commented on #92
Issue still exists in release 1.2.3 release. Kindly merge and make a release if possible.

[2020-06-19 00:06] lgwacker commented on #145
Hey guys, any update on this issue?

[2020-06-19 00:07] lgwacker commented on #145
Tried the solutions proposed here https://github.com/sqlalchemy/alembic/issues/519
But had no success

[2020-07-02 05:58] aman0511 opened #180 "sqlalchemy.util.queue.Empty, in running query using flask"

[2020-07-09 14:54] zaloogarcia opened #181 "ModuleNotFoundError: No module named 'botocore.vendored.requests.adapters'"
1. What version of Python are you using (`python --version`)?
**Python 3.6**
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
MacOS Catalina
3. What are the component versions in the environment (`pip list`)?
[code]
4. What did you do?
Installed and tried to import `snowflake-sqlalchemy`
A complete runnable program is go

[2020-07-09 18:41] #180 closed

[2020-07-10 06:58] vishnukelam03 opened #182 "No module named snowflake.sqlalchemy"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? python 2.6.6

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)? linux

3. What are the component versions in the environment (`pip list`)?
argparse (1.4.0)
boto3 (1.4.1)
botocore (1.4.11)
cas

[2020-07-15 19:13] insightfulquery opened #183 "fetchall() Exception: Attempted to add log when TelemetryClient is closed"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? 3.7.3

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)? Windows-10-10.0.18362-SP0

3. What are the component versions in the environment (`pip list`)?
absl-py                            0.7.1

[2020-07-15 19:30] insightfulquery commented on #183
You might want to just close this one, it might be a weird fluke. It was throwing the exception, even after I restarted my python kernel in VSCode, but when I restarted the computer the error went away.

[2020-07-15 20:41] insightfulquery opened #184 "How to get data types of columns in result set"
Hello,

I have a question I am cross-posting to stack overflow (https://stackoverflow.com/questions/62923415/in-snowflake-sqlalchemy-how-do-i-use-the-result-metadata-specifically-how-do). How do I use the result metadata? Specifically, how do I get the data types of the result set? Is this a feature that hasn't been added yet? Code and more details are in the stack overflow question.

Thanks!

[2020-07-15 22:55] sfc-gh-mkeller commented on #184
Hi @insightfulquery
I think what you are looking for is here: https://docs.sqlalchemy.org/en/13/core/reflection.html#sqlalchemy.engine.reflection.Inspector.get_columns
Hope this helps!

[2020-07-16 15:20] insightfulquery commented on #184
Hello @sfc-gh-mkeller,

That is close, but unless I am mistaken, it does not work for my use case. Let's say I had the following query:

select
    1 as my_int,
    current_date as mydate

And I needed to get the datatypes of the columns. The metadata is not stored in any table, I need to be able to look at the result set itself. Can the inspector examine the results of a query, or just tables tha

[2020-07-16 17:35] insightfulquery commented on #183
Still seeing this on and off. Might be specific to my environment. Restarting always fixes it.

[2020-07-20 17:02] aydumoulin commented on #130
@smtakeda this issue surfaced again with Big Sur beta

Stack is the following
- python 3.7.6
- Darwin-20.0.0-x86_64-i386-64bit
- openssl 1.1
- cffi 1.13.2
- snowflake-connector-python==2.2.9

Same means of reproducibility as @ms32035 experienced

Also results in

[code]

This fails locally
[code]

But will work in
[code]

[2020-07-23 09:15] gbrian opened #185 "DefaultDialect returns_unicode_strings is ignored by sqlAlchemy"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
**Python 3.7.4**

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
**Darwin-19.3.0-x86_64-i386-64bit**

3. What are the component versions in the environment (`pip list`)?
asn1crypto

[2020-09-09 13:55] rcjsuen opened #187 "Snowflake connector hangs trying to execute a MERGE INTO statement"
1. What version of Python are you using (`python --version`)?
`Python 3.6.11`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Linux-5.3.0-1017-aws-x86_64-with-debian-10.4`

This is a container running inside a dedicated pod (not a sidecar) in an Amazon EKS cluster.

3. What are the component versions in the environmen

[2020-09-09 17:09] rcjsuen commented on #187
I updated the logging format and the looping part looks like this.
[code]

[2020-09-15 14:45] LoicChesneau opened #188 "asn1crypto and OperationalError when trying to connect engine"
1. What version of Python are you using (`python --version`)?
Python 3.7.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwin-19.6.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
asn1crypto                 1.3.0
azure-common               1.1.25
azure-core                 1.

[2020-09-23 18:48] yousefissa commented on #181
Did you end up finding a fix for this?

[2020-09-23 19:41] sfc-gh-mkeller opened #190 "test"
test

[2020-09-23 20:45] #190 closed

[2020-09-23 20:45] sfc-gh-mkeller opened #192 "SNOW-198862: test"
test

[2020-09-26 02:51] #192 closed

[2020-10-01 16:22] jpg013 opened #194 "SNOW-201006: Table Meta-Data with Geography Type throwing error "SAWarning: Did not recognize type 'GEOGRAPHY' of column""
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.6.11

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Linux-5.4.0-7642-generic-x86_64-with-debian-bullseye-sid

3. What are the component versions in the environment (`pip list`)?
asn1cryp

[2020-10-14 10:38] kychanbp commented on #112
I get the same error in aws glue
[code]

How can I solve it?

[2020-10-29 14:42] adisunw commented on #145
bump on this.

[2020-10-29 21:55] sfc-gh-mkeller commented on #145
Hey, I'm sorry but we don't officially support Alembic.
I know I have fixed a few bugs with it previously, but I really don't see myself having bandwidth for this anytime soon. Just setting up Alembic takes me a while... 😢
If someone could fix this in a PR then I'd be happy to look at it.

[2020-11-02 07:53] mariusneo commented on #194
Same issue here. Are there any plans to support this type in snowflake-sqlalchemy?

[2020-11-04 10:00] kychanbp opened #198 "SNOW-218339: Invalid Date in Snowflake."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.8.2

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
macOS-10.15.7-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?

[2020-11-04 16:45] sfc-gh-mkeller commented on #198
Hi, @kychanbp
Please see https://github.com/snowflakedb/snowflake-connector-python/issues/319
The last comment in specific is our best workaround while our team is working on the long term fix.

[2020-11-05 17:26] #198 closed

[2020-11-09 04:21] kychanbp opened #199 "SNOW-219884: Pandas datetime with timezone converts to `timestamp_ntz` in snowflake"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.8.2

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
macOS-10.15.7-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
Package

[2020-11-11 03:02] kychanbp commented on #199
Any possibilities I got this error?

[2020-11-11 04:44] kychanbp commented on #199
I tried to inspect the log file of alchemy. The sql statement is
[code]

[2020-11-11 04:45] kychanbp commented on #199
Or should I set the timestamp mapping specify in this link: https://docs.snowflake.com/en/sql-reference/parameters.html#timestamp-type-mapping?

[2020-11-11 07:35] kychanbp commented on #199
I think I solve it by

[code]

setting the timestamp type mapping and timezone.

[2020-11-12 17:51] lightupyiqian commented on #199
Saw the same problem using panda`to_sql`. Looks like a bug as doc states that

"Timezone **aware** datetime columns will be written as **Timestamp with timezone** type with SQLAlchemy if supported by the database. Otherwise, the datetimes will be stored as timezone unaware timestamps local to the original timezone.
" https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sq

[2020-11-13 07:12] kychanbp commented on #199
@lightupyiqian But it seem snowflake supports Timestamp with timezone? I expect [pd_writer](https://docs.snowflake.com/en/user-guide/python-connector-api.html#pd_writer) can handle that?

[2020-11-15 06:35] lightupyiqian commented on #199
yeah, it should, but has other problem like not quoting identifier properly.

[2020-11-19 14:13] Nazarii commented on #199
This bug was introduced in v1.1.18 and is also touches `DateTime(timezone=True)` columns - in that case, the column is being passed as `DATETIME` to the snowflake, and `DATETIME` defaults to `TIMESTAMP_NTZ` in snowflake. Previous v1.1.17 logic created `TIMESTAMP_TZ` column.

[2020-11-19 16:57] Nazarii opened #201 "SNOW-227101: Datatime columns with timezone are created as TIMEZONE_NTZ"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
`Python 3.6.9`
2. What operating system and processor architecture are you using ?
`Linux-4.15.0-123-generic-x86_64-with-Ubuntu-18.04-bionic`
3. What are the component versions in the environment ?
[code]
4. What did you do?
Run the following script:
[code]

5. What did you expect to see?

[2020-12-09 04:10] solomonxie opened #203 "SNOW-240230: Doesn't support for WITH Clause but it's supported in other clients"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
[code]

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
[code]

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?
[code]

5. What did you exp

[2020-12-09 17:20] sfc-gh-hchaturvedi commented on #203
@solomonxie Snowflake drivers are technically agnostic to the query that is being sent. Query compilation errors are generated from Snowflake backend which the driver just bubbles up to the user. Are you saying that you ran the same query on other drivers and it executed successfully?

[2020-12-10 01:02] solomonxie commented on #203
My fault, it does support WITH clause and this is caused by my code bug.

[2020-12-10 01:02] #203 closed

[2020-12-10 01:45] sfc-gh-hchaturvedi commented on #203
No worries. Glad you were able to resolve it.

[2020-12-11 23:01] Jorne0 commented on #115
Perhaps i just don't understand, but I don't think this is solved. My organization doesn't allow user passwords on snowflake accounts. The snowsql external browser authentication works fine but in the above approach for sqlalchemy I still need to provide a password and when I provide my okta password i get a database error saying my password is incorrect (making me think it's sending that password

[2020-12-12 18:51] Hulow commented on #145
Hi all!
anyone can provide any update on this issue?

[2020-12-18 23:37] beherap opened #204 "SNOW-250319: Enhancement Request: Performance improvement for SnowflakeDialect._get_schema_columns"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`Python 3.7.6`
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Darwin-19.4.0-x86_64-i386-64bit`
3. What are the component versions in the environment (`pip list`)?
[code]
4. What did you do

[2020-12-22 15:57] sfc-gh-mkeller opened #206 "SNOW-251256: test"
test

[2020-12-22 15:58] #206 closed

[2020-12-22 16:22] sfc-gh-mkeller commented on #204
@beherap I will reach out to the internal team that deals with information_schema to see what they say. I was under the impression that these two work the same way.

Please feel free to ping me again if it looks like I forgot about this ticket!

[2020-12-23 04:37] beherap commented on #204
@sfc-gh-mkeller Thank you for looking into this one. I refactored the code a bit to use the `show columns` statement. I am going to create a PR for this shortly.

[2020-12-23 04:55] beherap commented on #204
@sfc-gh-mkeller Is it possible for you to add me as a contributor to the repo?

[2020-12-23 20:22] sfc-gh-mkeller commented on #204
I’m sorry, I cannot!

[2020-12-28 18:30] steve-dyno commented on #92
Hey @smtakeda, I am confused by your comment. The latest version is v1.2.4, and I don't see v1.7.11?  I still see this issue in v1.2.4.  Setting to qmark does not really work as a workaround as mentioned above.

[2020-12-28 18:33] smtakeda commented on #92
@steve-dyno , sorry, I meant Python connector v1.7.11. https://pypi.org/project/snowflake-connector-python/. That version includes the fix for `None` binding in the `qmark` mode.

[2021-01-05 20:16] beherap commented on #204
@sfc-gh-mkeller Alright! Did you have a chance to connect with the internal team yet? Thanks!

[2021-01-08 14:37] srinaveendesu opened #207 "SNOW-257714: session.execute() and connection.execute() behaves differently when the SQL query has % (arithmetic operator) in it."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.8
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?
If possible, provide a recipe for repr

[2021-01-10 14:53] datGnomeLife commented on #204
See this [How to article](https://community.snowflake.com/s/article/metadata-operations-throttling) posted November 2020. It states show queries use a special cache for better performance, but with a limitation of 10k records. You already have some try catch logic in the snowdialect for the information catalog. If snowflake throws some sort indication that 10k threshold has been exceeded, could pr

[2021-01-11 18:00] beherap commented on #204
Hi @datGnomeLife! Thank you for the update.
Sounds like the preference of using `information_schema.columns` over `show columns` is due to the 10k threshold limitation. Is that somewhat correct?

[2021-01-21 18:16] MichaelFishmanOD commented on #115
@Jorne0
My organization uses SAML with externalbrowser authentication and no password. The following works for me:

[code]

[2021-02-08 18:23] ajmarks opened #213 "SNOW-280650: CopyIntoStorage will not load data from an ExternalStage"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.8.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Windows-10-10.0.19041-SP0

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?
Attem

[2021-02-09 16:29] Rustem commented on #194
Same issue is when I try to use GEOGRAPHY, OBJECT, VARIANT and etc snowflakes types.

[2021-02-15 00:56] whardier opened #216 "SNOW-285535: Implement callproc"
Please implement callproc support.

Or....

Please demonstrate how to execute stored procedure calls without it.

Right now I have to use system calls to run cli tool.  Not secure or preferred.   Tried everything I could find on Github to make this work and came up short every time.

[2021-02-15 18:59] Rustem commented on #194
Could someone help us please? I think i narrowed it down to GEOGRAPHY type, when it is part of table DDL, the sqlalchemy throws this error. Could you implement it please? This is quite urgent to our customers.

[2021-03-16 11:41] shahargl opened #218 "Feature request: support async queries (sqlalchemy 1.4.0)"
## What is the current behavior?
SQLAlchemy 1.4.0 introduced the [asyncio extension](https://docs.sqlalchemy.org/en/14/orm/extensions/asyncio.html) that add the ability to run queries in paralell.

The following code should create async engine:
[code]
But instead it throws the following error:
[code]

## What is the desired behavior?
The engine will be created successfully

## How would this impro

[2021-03-26 04:14] patrickmcdougle-okta commented on #157
This causes issues with tools like Apache Superset that use introspection and column name matching to have shared filters across multiple visualizations. Sometimes the columns are full uppercase and sometimes they aren't.

[2021-03-26 12:04] MikolajSedek opened #219 "SNOW-307731: snowflake-sqlachemy - stacktrace from SQLAlchemy when using SQLAlchemy > 1.3.23"
When trying to connect to Snowflake using a package with:

[code]
I get a stacktrace from sqlachemy (shown in 7. LOGS below). The only way for us to avoid this problem is to downgrade SQLAlchemy to v.1.3.23 - then the problem is no longer present. The dependency for SQLAlchemy in snowflake-sqlachemy `setup.py` is sqlalchemy<2.0.0. This might be caused by https://github.com/sqlalchemy/sqlalchemy/is

[2021-04-14 16:31] bastienboutonnet opened #221 "SNOW-343335: Why is `get_columns()` implemented as a select from information schema instead of more performant `describe`"
I am curious as to why `get_columns()` implements using a select query from the info schema (https://github.com/snowflakedb/snowflake-sqlalchemy/blob/e1141b8ddfbc499d1b813ae1b791a0559312e6cb/snowdialect.py#L403) while `describe table` would get us the same kind of info.

I see that at some point in the past your implementation was using `describe` (https://github.com/snowflakedb/snowflake-sqlalche

[2021-04-14 16:33] bastienboutonnet commented on #204
I would also be interested in knowing why that is the case as I have a similar question to this one here: https://github.com/snowflakedb/snowflake-sqlalchemy/issues/221

[2021-04-15 19:30] katyhaynie-snowflake opened #222 "SNOW-343949: Keep getting error about not pointing to active warehouse when it is defined in my engine..."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
python 3.8.6
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
macOS-10.16-x86_64-i386-64bit
3. What are the component versions in the environment (`pip list`)?
appnope                    0.1.

[2021-04-19 22:13] sfc-gh-cshi commented on #222
We are expecting you to collect debug level log files and upload here if you need more supports from the community and snowflake. The log file location is defined in config file. Thanks.

[2021-05-11 03:08] machow commented on #207
SQLAlchemy expects that if you are using literal text, you are wrapping it in a special function, `text()` [see this function's doc](https://docs.sqlalchemy.org/en/13/core/sqlelement.html#sqlalchemy.sql.expression.text). The reason for this is that different backends handle parameters different ways, some of which expect you to escape % with `%%` (which sqlalchemy can handle if you wrap it in `tex

[2021-05-12 19:31] radix opened #223 "SNOW-356205: lowercase table names don't work"
1. What version of Python are you using (`python --version`)?

3.7.10

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

`Linux-4.19.128-microsoft-standard-x86_64-with-Ubuntu-20.04-focal`

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you do?

I tried doing a trivial query again

[2021-05-18 07:24] omercloudinary commented on #219
when creating the engine, by any chance did you send the **convert_unicode** parameter?
`create_engine(connection_string, convert_unicode=True)`
because **convert_unicode**  is deprecated and caused me the exact same error.
removing that parameter solved my issue. just use
`create_engine(connection_string)`

[2021-05-18 23:41] imperialguy opened #225 "SNOW-358871: Does not work in AWS lambda - Dead on Arrival"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? 3.7 or 3.8

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)? AWS lambda amazon linux 2

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?
Step 1:

[2021-05-19 14:09] radix commented on #223
If anyone has any suggestions for how to work around this issue and interact with a table with a lowercase name, I would appreciate it.

[2021-05-24 23:47] TRManderson commented on #218
I'd be happy to provide asyncio SQLAlchemy support as an external contributor, but that would require asyncio support for the underlying connection, which doesn't look like it's coming any time soon https://github.com/snowflakedb/snowflake-connector-python/issues/38

[2021-06-11 16:20] mertster opened #227 "SNOW-367603: Does not work with latest version of certifi module"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? 3.7

Error message is (certifi 2021.5.30 (/usr/local/lib/python3.7/site-packages), Requirement.parse('certifi<2021.0.0'), {'snowflake-connector-python'})

[2021-06-11 17:18] sfc-gh-mkeller commented on #227
Hi @mertster
This is actually an issue with `snowflake-connector-python` and it is fixed in master already.
Describing the issue: https://github.com/snowflakedb/snowflake-connector-python/issues/732

[2021-06-11 17:18] #227 closed

[2021-06-12 01:21] Kache opened #228 "SNOW-367877: Unexpected quoting around fully-qualified table name compiled statement (isn't valid snowflake SQL?)"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

Python 3.7.10

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Darwin-20.4.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

created a new venv

[co

[2021-06-14 23:09] Kache commented on #228
I've dove into the source and have found that the expected usage is in fact the undocumented:

[code]

Perhaps there could be a better way to warn the developer of this, like a `logging.debug`.

[2021-06-14 23:13] #228 closed

[2021-06-24 18:53] benekastah opened #229 "SNOW-372138: AttributeError: module 'snowflake.sqlalchemy' has no attribute 'dialect'"
1. What version of Python are you using (`python --version`)?

Python 3.7.9

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

Darwin-20.3.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

[code]

4. What did you do?
If possible, provide a recipe for reproducing the error.
A comple

[2021-06-24 19:44] benekastah commented on #172
I was able to fix this by doing:

[code]

[2021-06-24 21:20] sfc-gh-hkapre commented on #223
Using this parameter should be the correct way to force case sensitivity. Since the object name is lowercase on the Snowflake side, quotes need to be used to force the identifier to be treated as lower case. Otherwise, Snowflake will treat the identifier as upper case (which is the default).

[2021-06-24 21:20] #223 closed

[2021-06-25 16:39] petercho42 opened #230 "SNOW-372459: Missing the way to to do `array_contains`?"
How do I write a SQLAlchemy ORM that will do `ARRAY_CONTAINS` for an array field in Snowflake?
I googled and searched in this repo but couldn't find anything.

- Example:
`query = session.query(TestUser).filter(TestUser.numbers.contains([some_int])).all()`

- Issue:
Above results in `LIKE`, not `ARRAY_CONTAINS`

[2021-07-10 10:59] rareal commented on #157
Hi, I'm sorry for the annoying question, but are there any updates on this one?

[2021-07-15 20:59] sfc-gh-hkapre commented on #230
@petercho42 This is not currently supported. We will look at this as part of our broader initiatives around ORM support.

[2021-07-15 22:16] sfc-gh-mkeller commented on #229
@benekastah Could you please post how you setup your `virtualenv`? I tried running your code the following way:

`requirements.txt`:
[code]

`code.py`:
[code]

Setup and run test:
[code]

And this worked for me without issues.

[2021-07-19 16:03] gordonhart commented on #107
+1 from me — it's unfortunate to see that there hasn't been any motion on this since 2019. From what I can gather, this issue precludes the usage of `VARIANT`/`ARRAY`/`OBJECT` types using the SQLAlchemy connector and leads to opaque error messages like:
[code]

[2021-07-21 02:19] erikselin opened #234 "SNOW-396922: Snowflake patch change from 1.2.4 to 1.2.5 introduces a hard dependency on sqlalchemy>=1.4.0"
This is a potential breaking change that is not captured in setup.py and should not be part of a patch version. More context in [this PR](https://github.com/snowflakedb/snowflake-sqlalchemy/pull/233) which ideally should not be the solution.

[2021-07-22 13:06] Dixon007 opened #235 "SNOW-400125: snowflake-sqlalchemy 1.2.5 NOT supporting sqlalchemy.sql.roles"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
  Python3.8

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
 MacOS

3. What are the component versions in the environment (`pip list`)?

4. What did you do?
If possible, provide a recipe fo

[2021-07-22 23:03] irdvl commented on #235
+1  this change broke our production code

[2021-07-23 13:13] erikselin commented on #235
@Dixon007 @irdvl I'm sure you've seen it already just wanted to share that this is due to https://github.com/snowflakedb/snowflake-sqlalchemy/pull/233. In case it helps.

[2021-07-23 17:58] sfc-gh-mkeller commented on #234
We are in the process of releasing the fix you provided in order to get this addressed as quickly as possible. Our team is reviewing how we can avoid this in the future through additional test cases and we will also review if a longer term fix is needed.
We apologize for any inconvenience that this caused!

[2021-07-23 18:19] #235 closed

[2021-07-23 18:24] sfc-gh-mkeller commented on #234
Re-opening this issue to keep it visible to anyone that runs into the following error in the next while:
[code]

Solutions:
1. Manually update to SQLAlchemy to `>=1.4.0,<2.0.0`
2. Update `snowflake-sqlalchemy` to version `1.3.0` which has the correct SQLAlchemy dependency pinned

[2021-07-23 19:07] jimkim-tc commented on #234
Is the second option available? Appears the latest version is 1.3.0?

[2021-07-24 01:27] sfc-gh-abhatnagar commented on #234
Snowflake SqlAlchemy 1.3.0 is released and available now.

[2021-07-24 01:58] sfc-gh-abhatnagar commented on #234
@jimkim-tc I will update here once the next version  is released , likely Monday.

[2021-07-24 05:09] sfc-gh-abhatnagar commented on #234
Released new version 1.3.1 for  Snowflake SqlAlchemy which has the fix. Let us know for any issues.

[2021-07-26 06:31] prabodh1194 opened #238 "SNOW-404973: snowflake hook get_sqlalchemy_engine error in AWS MWAA"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
python 3.7

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
ubuntu 18.04

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?
If possible, provide

[2021-07-27 14:18] prabodh1194 commented on #238
i fixed this issue by ensuring that `snowflake-sqlalchemy` that is downloaded is v1.2.4 .

[2021-07-27 14:18] #238 closed

[2021-08-11 21:56] GreekPoet opened #239 "Is there a "SnowflakeNoConverterToPython" equivalent in snowflake-sqlalchemy?"
[code]

Hello, I noticed that in the [Snowflake python connector](https://docs.snowflake.com/en/user-guide/python-connector-example.html#improving-query-performance-by-bypassing-data-conversion), there is an argument to stop Snowflake from converting the datatypes for the results of a query to python native datatypes, this is to improve performance, is this feature available using the snowflake-sq

[2021-08-12 20:57] imperialguy commented on #225
The packages were zipped up on Amazon Linux 2 - the same that is used by lambda.

[2021-08-13 16:41] itsmunishbhardwaj commented on #181
Baiscally the problem is that botocore is installed via `apt-get` AND via `pip` in the same system. A simple uninstallation of the library from python should resolve issue:
[code]

[2021-08-18 02:08] erwynsan opened #240 "Unable to create TIMESTAMP_NTZ with size"
Snowflake supports creating a TIMESTAMP_NTZ with a specific size, for example TIMESTAMP_NTZ(6).  When I try to create a column with TIMESTAMP_NTZ(6), it does not allow it with an error message 'TypeError: TIMESTAMP_NTZ() takes no arguments'.

[code]

Is there a workaround this problem?

Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`p

[2021-09-06 14:41] struck89 commented on #157
Same issue here, but if you mix upper case and lower case it obeys:
Try:
`SELECT
NULL::TEXT AS COL1,
NULL::TEXT AS "col2",
NULL::TEXT AS "COL3",
NULL::TEXT AS "Col4"`

[2021-09-20 16:23] mixtoism commented on #219
I am having a similar, issue. I am not setting the convert_unicode in the create engine.
I have two ORM classes first one commits and queries just fine, the other commits fine, but it breaks when reading

[2021-09-21 21:13] jeremylanglois opened #244 "DELETE does not return rowcount"
Python 3.8
Platform: Windows-10-10.018362-SP0

snowflake-sqlalchemy: 1.3.2
SQLAlchemy: 1.4.23

Model definition:

[code]

Query

[code]

**Expected Result**

According to the documentation, the rowcount should be returned:

https://docs.sqlalchemy.org/en/13/orm/query.html?highlight=delete#sqlalchemy.orm.query.Query.delete

https://github.com/zzzeek/sqlalchemy/blob/a7e787a331dd9e5c172a5650397e4e952

[2021-09-28 20:00] patrickhowerter commented on #157
@keller00 @sfc-gh-abhatnagar Do you think you can assign this to someone else that works on the project? It's a pretty difficult bug to work around.

[2021-10-14 06:13] asheik16 commented on #130
This works thanks a ton 😃  @aydumoulin

[2021-10-15 18:02] amenck opened #246 "incorrectly escaped `%` when running sqlalchemy queries"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
`Python 3.7.11`

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
`Darwin-19.6.0-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip list`)?
[pip_list.txt](https:/

[2021-10-17 15:27] meoril opened #247 "schema_translate_map and __table_args__ schema parameter combination is adding redundant quotes to schema name in ORM generated queries"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.7.5

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwin-19.6.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?

[2021-11-10 01:08] sfc-gh-mkeller opened #250 "test"
test

[2021-11-10 01:10] #250 closed

[2021-11-10 01:10] sfc-gh-mkeller opened #258 "SNOW-499901: SNOW-499899: SNOW-499898: test"
test

[2021-11-10 01:10] sfc-gh-mkeller commented on #258
test2

[2021-11-10 01:13] sfc-gh-mkeller commented on #258
hello

[2021-11-10 01:32] #258 closed

[2021-11-10 01:33] sfc-gh-mkeller opened #260 "SNOW-499919: SNOW-499917: test"
test

[2021-11-10 01:33] sfc-gh-mkeller commented on #260
don't open another Jira

[2021-11-10 01:33] sfc-gh-mkeller commented on #260
recreate jira

[2021-11-10 01:34] #260 closed

[2021-11-23 20:22] sfc-gh-kterada commented on #246
@amenck, the Snowflake SQLAlchemy dialect doubles percent signs (%) by default like several other database dialects. To disable this behavior, please update your application as follows:

`...
with engine.connect() as conn:
    conn.dialect.identifier_preparer._double_percents = False
    result = conn.execute(sql)
...`

[2021-11-29 11:46] amenck commented on #246
Hello @sfc-gh-kterada. The reason that SQLAlchemy doubles percent signs is to be able to deal with bound parameters in queries. I am not an expert on how the underlying base class works, but it is clear that setting `double_percents = False`, as you recommend, breaks queries that use bound parameters. Consider the following modification to the script above:

[code]

This results in the query simpl

[2021-11-29 17:33] fflakito commented on #157
+1!
I'd be very much interested in seeing a fix for this.

[2021-11-29 22:11] sfc-gh-mkeller commented on #246
After looking at https://docs.sqlalchemy.org/en/14/faq/sqlexpressions.html#why-are-percent-signs-being-doubled-up-when-stringifying-sql-statements
I think the proper way to resolve this bug would be to do the following in your example @amenck:
[code]
In which case we bind no variables into the statement. This should then un-escape the double `%`s.

This would require the following changes: https:/

[2021-11-30 18:49] amenck commented on #246
@sfc-gh-mkeller yeah, that would work! If you make the fix to the python connector and release, I can adjust our code to use this workaround whenever there are no bound prams in the query object.

[2021-11-30 21:51] sfc-gh-mkeller commented on #246
I have just merged the fix and our next release is planned for about 2 weeks from now.
We usually don't do hot-fix releases for bug fixes like this just in case the changes had some unforeseen consequences, so please hang tight until the next release. In the meantime we have a bunch of internal tests to be run until then.

We'll keep this issue open until you verify the final released fix!

[2021-12-06 21:26] eddyojb88 commented on #124
1 year on and this is still unsolved? This is a very basic feature.

[2021-12-06 21:26] eddyojb88 commented on #124
Correction. 2 years on!!

[2021-12-09 04:37] kikusu opened #263 "SNOW-516926: ProgrammingError occurs when the schema contains periods such as email addresses"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
Python 3.9.0

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
macOS-10.15.7-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
[code]

4. What did you do?

[2021-12-09 17:55] #247 closed

[2021-12-13 05:55] sfc-gh-kbregula commented on #234
@sfc-gh-abhatnagar This is still a problem. In the Apache Airflow project, we don't support SQLAlchemy 1.4, as Flask-AppBuilder dependency doesn't support SQlAlchemy 1.4 yet. Flask-App-Builder has a corresponding entry in `setup.py`.
https://github.com/dpgaspar/Flask-AppBuilder/blob/baddd7c73e68c347abe74973c4a122003393fd71/setup.py#L56-L57
[code]
Here is definition requirement of `flask-appbuilder

[2021-12-13 19:18] sfc-gh-kbregula commented on #234
For reference: SNOW-518532 - Ticket about marking one release as yanked.

[2021-12-14 17:47] sfc-gh-mkeller commented on #234
We have marked `1.2.5` as yanked

[2021-12-14 17:47] #234 closed

[2021-12-30 19:48] cyaris opened #265 "SNOW-522232: SAWarning: Dialect snowflake:snowflake will not make use of SQL compilation caching as it does not set the 'supports_statement_cache' attribute to ``True``."
Python 3.8.9
macOS-11.6.2-x86_64-i386-64bit
snowflake-connector-python: 2.7.2
snowflake-sqlalchemy: 1.3.3
SQLAlchemy: 1.4.28

I imported the following...

[code]

Then, I created a new engine and executed my first query...

[code]

Received the following warning...

[2022-01-04 16:27] njriasan opened #266 "SNOW-522645: Passing session_parameters in a url cause an internal error inside the Snowflake connector"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?

3.8.11

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?

macOS-10.16-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?

I'm using an anaconda environmen

[2022-01-06 10:12] YCaillaud-betclic commented on #265
I have the same warning.

With these settings :

Python 3.7.9  **(cyaris has 3.8.9)**
windows 64 bit
snowflake-connector-python: 2.7.2
snowflake-sqlalchemy: 1.3.3
SQLAlchemy: 1.4.29          **(cyaris has 1.4.28)**

[2022-01-06 13:17] Data-Zen commented on #265
I have the same issue.  Need fix ASAP

[2022-01-08 00:09] rokadias opened #267 "SNOW-524709: Reserved Word Quoting for a "USER" table's string version of a query"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)?
3.8.12
2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
We're using the python:3.8.12-slim-buster as our base docker image. I think it's just debian and not ubuntu.

[code]

3. What are the c

[2022-01-13 16:48] pablorf-ind commented on #265
We are also seeing this with the last version of both libraries.

[2022-01-15 17:17] JJBon commented on #194
`from snowflake.sqlalchemy import snowdialect
from geoalchemy2 import Geometry

snowdialect.ischema_names['GEOGRAPHY'] = Geometry`

Add this to your your proyect . It would enforce the type from geoalchemy into the dialect

[2022-01-31 09:44] marcomasulli opened #268 "SNOW-538310: Error when using `create_engine()` and password containing `%` character"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using (`python --version`)? 3.8.6

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)? Windows-10-10.0.19041-SP0

3. What are the component versions in the environment (`pip list`)?
[code]
4. What did you do?
If possible,

[2022-02-01 09:24] uncle-samm commented on #265
For those who'd like this warning to be disabled do this before creating an engine:

[code]

[2022-02-07 18:08] hanss0n opened #269 "SNOW-541235: COPY INTO not working the way it works in Snowflake app"
1. What version of Python are you using (`python --version`)?
3.9.9

2. What operating system and processor architecture are you using (`python -c 'import platform; print(platform.platform())'`)?
Darwin-20.6.0-x86_64-i386-64bit

3. What are the component versions in the environment (`pip list`)?
snowflake-connector-python 2.7.2
snowflake-sqlalchemy       1.3.3
SQLAlchemy                 1.4.31

4.

[2022-02-08 20:56] bryanpost commented on #115
@MichaelFishmanOD I get
`sqlalchemy.exc.ProgrammingError: (snowflake.connector.errors.ProgrammingError) 251006: Password is empty`

when using your example...

[2022-02-09 18:19] sfc-gh-mkeller commented on #265
We unfortunately don't fully support SQLAlchemy 1.4.0 features yet.

@sfc-gh-hkapre and @sfc-gh-sbommakanty for visibility

[2022-02-11 13:00] hanss0n commented on #269
The path supplied to the ExternalStage was incorrect, so the code worked as expected. Would be nice with a more descriptive error perhaps

[2022-02-11 13:00] #269 closed

[2022-02-11 19:30] sfc-gh-mkeller commented on #187
@rcjsuen I'm sorry, this slipped through the cracks, is this still an issue for you? Could you please provide me with your deployment and a query ID?
The logs seem fine, they just mean that the query is executing for a long time and the connector pings the back-end every 40 seconds.
Would it also be possible for you to try running the same query from our website to confirm that this is a Python co

[2022-02-11 22:32] rcjsuen commented on #187
@sfc-gh-mkeller Thanks for reaching out. As you may imagine, I am no longer involved in this project so am unable to answer your questions unfortunately.

[2022-02-14 22:32] sfc-gh-mkeller commented on #187
I tried and I cannot reproduce the issue myself. Unfortunately this doesn't have enough information this way.
If someone else runs into the same problem please re-open this issue and provide me with the requested information!

[2022-02-14 22:32] #187 closed

[2022-02-22 19:42] allenlawrence94 commented on #265
Could we just set `supports_statement_cache` to `False` for now? Preferably in this package, rather than users doing it manually.

[2022-02-27 14:33] eyalyoli commented on #107
What I did as a workaround is to set the value of the array for `func.array_construct(*my_list)`, but this works only for update statement, on insertion you'll need to insert the entity without the array and then update it later.
Can someone work on this please? This is very basic (totally a bug in the dialect)

[2022-03-10 19:54] sfc-gh-mkeller commented on #265
I'm for setting the attribute to `False` for now.

I'd put a comment with the variable like:

[code]

@allenlawrence94 would you like to submit a PR for this?

[2022-03-11 19:27] eschranz opened #274 "SNOW-558647: snowdialect.get_table_names limited to returning 10K results"
This many be the case for other functions that use the `SHOW [OBJECT_TYPE]...` syntax to pull metadata from Snowflake, but the [get_table_names](https://github.com/snowflakedb/snowflake-sqlalchemy/blob/b15a4d1b76b47a0cd2443f0c86e0de03957f602e/snowdialect.py#L504-L521) function specifically returns the following error both in `snowflake-sqlalchemy` and the web client:
[code]
A [community post](http

[2022-03-11 19:37] eschranz commented on #274
#204 also references something similar for get_column_names. I think the suggestion for trying `SHOW` and then falling back to `information_schema` could be a good solution.

[2022-03-11 23:46] allenlawrence94 commented on #265
Sure! https://github.com/snowflakedb/snowflake-sqlalchemy/pull/275

[2022-03-11 23:51] #265 closed

[2022-03-12 17:50] machow commented on #133
Hey all--it seems like sqlalchemy-bigquery resolved this issue, by allowing a "fully qualified" schema name, like `<database>.<schema>`.

See these docs: https://github.com/googleapis/python-bigquery-sqlalchemy#table-names

Here's the relevant code:

[code]

It appears the snowflake dialect just prepends the default database to the specified schema, so it's impossible to point at the non-default d

[2022-03-14 03:59] machow opened #276 "Table reflection methods using .format do not respect quoted_name"
Hello--thanks for you work on this library! I maintain a tool called siuba that can execute SQL analyses across many different databases (using sqlalchemy). While working on snowflake support, I noticed that table reflection often does not work for case sensitive identifiers, even if they're quoted.

Below is an example that I think shows the root cause: queries in the dialect that are built using

[2022-03-30 15:46] philippeboyd commented on #268
We had the same issue, here's a workaround:

[code]

[2022-03-30 18:46] yassernadeem commented on #133
@akravetz @machow Were either of you ever able to resolve this or find a workaround? I'd love to be able to access multiple DBs within one query using sqlalchemy to define the query.

[2022-03-30 19:05] akravetz commented on #133
I was not, we opted to avoid sqlalchemy since migrating to snowflake

[2022-04-08 12:29] luciengaitskell commented on #107
Anyone looking for an `INSERT ... SELECT` workaround, the author of SQLAlchemy helped me out here: https://github.com/sqlalchemy/sqlalchemy/discussions/7894

[2022-04-26 18:35] ThomasJRyan commented on #124
Coming across a similar error as well where when I add in a new row with an auto-incremented primary key and try to flush it I get this error:

[code]

Seems there isn't a good fix for this yet

[2022-04-27 15:25] felixramirezreyes commented on #47
Thanks tchoedak. Work for me

[2022-05-02 23:27] #128 closed

[2022-05-06 22:41] sfc-gh-mkeller opened #283 "SNOW-587142: test issue"
test

[2022-05-06 22:42] #283 closed

[2022-05-06 22:42] sfc-gh-mkeller commented on #283
this is a test comment

[2022-05-09 23:23] sfc-gh-mkeller opened #286 "SNOW-587747: Test"
Test issue

[2022-05-09 23:24] #286 closed

[2022-05-10 16:43] sfc-gh-aling commented on #229
hey @benekastah, I can reproduce the issue by following your instructions.

The root cause is that the name of your scripts is "snowflake.py" (as indicated by your logging) which conflicts the `snowflake` namespace leading to an old version of `setuptools`(v47.1.0 as per your dev requirement) unable to load module by name correctly.

to fix the issue, there're two options:

1. rename your script N

[2022-05-12 17:26] csdev opened #289 "SNOW-589556: sqlalchemy.func.sysdate() does not render parentheses"
1. What version of Python are you using?

   `Python 3.7.13`

2. What operating system and processor architecture are you using?

   `Linux-5.4.0-109-generic-x86_64-with-debian-10.12`

3. What are the component versions in the environment (`pip freeze`)?

Note: our environment has a lot of packages installed, so I dumped the relevant parts using `pipdeptree`:

[code]

4. What did you do?

Use `sql

[2022-05-13 07:40] chaami opened #290 "SNOW-589946: Enhance the JSONFormatter"
The JSONFormatter is currently lacking:
- the date format support
- the time format support
- the timestamp format support
- the binary format support
- the trim space status support
- the null if status support
- the enable octal status support
- the allow duplicate support
- the strip outer array support
- the strip null values support
- the replace invalid characters status support
- the ignore

[2022-05-13 09:09] chaami opened #291 "SNOW-589962: Enhance CreateFileFormat command"
The current command only supports a replace if exits.

Ideally the command would support:
- a file format comment
- the if not exists option

This would make the command better support the [Snowflake CREATE FILE FORMAT](https://docs.snowflake.com/en/sql-reference/sql/create-file-format.html).

[2022-05-16 16:55] sfc-gh-aling commented on #229
I'm closing the issue since there's no response. Please feel free to re-open if you still have the issue.

[2022-05-16 16:55] #229 closed

[2022-05-17 19:50] jordantshaw opened #294 "SNOW-591541: AssertionError when using future=True"
I am having an issue when setting the "future" parameter to "True" when creating the engine. Any ideas?

1. What version of Python are you using?

   Python 3.9.12

2. What operating system and processor architecture are you using?

   macOS-10.16-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

5. What did you expect to

[2022-05-18 00:17] sfc-gh-aling commented on #216
hey @whardier, apologize for keeping you waiting for so long and thanks for your feedback.

I want to clarify that `callproc` is not part of the sqlalchemy library, it's part of the [python dbapi2.0 spec(pep249)](https://peps.python.org/pep-0249/#callproc) which should be implemented in the connector library and sqlalchemy has documented [calling stored proceduer](https://docs.sqlalchemy.org/en/14

[2022-05-20 21:12] sbalasa opened #296 "SNOW-593204: Reflect fails to load all available table definitions from the database."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   `Python 3.10.0 (default, Oct  7 2021, 04:19:18) [Clang 10.0.0 ]`

2. What operating system and processor architecture are you using?

   `macOS-10.16-x86_64-i386-64bit`

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

5. What

[2022-05-23 22:38] sfc-gh-aling commented on #216
FYI I've merged the PR for the callproc support, it will be included in our next `snowflake-connector-python` release.

[2022-05-27 17:07] sfc-gh-aling commented on #216
we have released snowflake-connector-python 2.7.8 including the callproc support, please upgrade to the latest connector via `pip install snowflake-connector-python --upgrade` and try out the new feature.

I'm closing the issue now, thanks for your patience and please let us know if you need anything else.

[2022-05-27 17:07] #216 closed

[2022-05-31 21:28] sfc-gh-ppietrzkiewicz commented on #225
My customer is seeing the same:
I use following code to zip dependencies which worked well for any other dependency like sqlalchemy, but it does not work for snowflake-sqlalchemy

[code]
copy zipped file to S3
`aws s3 cp $lib.zip s3://$bucket/lambda-layer/`
publish lambda layer
`aws lambda publish-layer-version --layer-name $lib --content S3Bucket=$bucket,S3Key=lambda-layer/$lib.zip --compatible-r

[2022-06-02 19:17] ThomasJRyan opened #299 "SNOW-606810: Insert List into ARRAY column"
## What is the current behavior?
Currently it doesn't seem possible (as far as I'm able to tell) to insert a List into an ARRAY typed column.

## What is the desired behavior?
The desired behaviour would be to be able to do this:
[code]

I know the error is coming from `snowflake.connector`, but if I'm understanding it correctly, the error is being raised because the generated query
[code]
isn't a

[2022-06-02 22:56] rjrudin opened #300 "SNOW-606931: SQLAlchemy metadata reflection fails when "only" is used"
1. What version of Python are you using?

Python 3.9.9

2. What operating system and processor architecture are you using?

macOS-11.6.2-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

The relevant components are:

- snowflake-connector-python    2.7.8
- snowflake-sqlalchemy          1.3.3
- SQLAlchemy                    1.4.27

4. What did you do?

We're

[2022-06-03 12:24] rjrudin commented on #300
I read through https://docs.snowflake.com/en/user-guide/sqlalchemy.html#object-name-case-handling and I am now thinking the above is expected behavior - i.e. based on the following:

"so unless identifier names have been truly created as case sensitive using quotes (e.g. "TestDb"), all lowercase names should be used on the SQLAlchemy side"

We should lowercase names - unless a name has quotes in i

[2022-06-03 18:39] #124 closed

[2022-06-03 18:52] sfc-gh-aling commented on #124
hey folks, apologize for the late response and thanks for your patience.

we've investigated the issue found the existing code was not doing correctly in **_two_** aspects:

1. The first issue is that when we create a column with `Sequence`, the default value was not set correctly, it should not be set using "autoincrement" which failed to connect the column with the sequence.
       - to fix the

[2022-06-16 18:26] ThomasJRyan commented on #299
Sorry @shahargl I meant to reply a week ago. This is an effective workaround and has unstuck me. Thank you very much for it

Would still be nice to see a more permanent fix someday though. I might look into a way to contribute it but I can't guarantee I'd be capable enough to implement a proper solution

[2022-06-19 11:29] shahargl commented on #299
Agree, but they are not showing love to this repo

[2022-06-30 21:26] cwillhu opened #312 "SNOW-620650: Query strings are truncated in logs and log_max_query_length is ignored"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

Python 3.9.12 (main, Mar 26 2022, 15:52:10)
[Clang 13.0.0 (clang-1300.0.29.30)]

2. What operating system and processor architecture are you using?

macOS-11.6.4-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

asn1crypto==1.5.1
certifi==2022.6.15

[2022-07-08 13:13] nareto opened #313 "SNOW-638838: Cluster by in ORM classes and queries"
This is neither a bug nor a feature request - I would have started a "discussion" but it's not enabled on this repo.

[code]

[code]

[code]

I have a table in Snowflake created like this:

[code]

I would like to:

1. represent this properly in sqlalchemy-ORM (with cluster_by)
2. run queries with `where date_trunc('hour',TIMESTAMP) > ...`

what I have for 1:

[code]

But **I'm not sure how to add

[2022-07-17 16:04] eyalyoli commented on #128
does `client_session_keep_alive` mean that you get a "forever" token? I don't like this, is there any option to refresh the token manually?

[2022-07-21 09:02] luciengaitskell opened #322 "SNOW-638839: MERGE INTO does not render argument correctly"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   `3.9.10`

2. What operating system and processor architecture are you using?

   `Linux-5.10.0-16-cloud-amd64-x86_64-with-glibc2.31`

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

[code]

**Result**:

[code]

5. What did you expect

[2022-07-22 20:28] eprodicio opened #324 "SNOW-638840: Version 1.4.0 breaks SnowflakeDialect._get_schema_columns function when column of type DATE exists in schema"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?
[code]
2. What operating system and processor architecture are you using?
[code]
3. What are the component versions in the environment (`pip freeze`)?
[code]
4. What did you do?

The following code will reproduce the issue when using a schema that has a column of type DATE:
[code]

5. What

[2022-07-23 17:45] daniel-sali commented on #324
I also hit this issue, you cannot call pandas.read_sql on a table with a DATE column, it will fail with the above error. https://github.com/snowflakedb/snowflake-sqlalchemy/blob/d16592569783db301de20fa5bd64ce7ba3a45eba/src/snowflake/sqlalchemy/snowdialect.py#L75 is missing the DATE type.

[2022-07-23 19:24] bfalk-phr commented on #324
I had this issue on 1.4.0 too. First when trying out `sqlacodegen`, then when trying out Automap:
https://docs.sqlalchemy.org/en/14/orm/extensions/automap.html#generating-mappings-from-an-existing-metadata

Both scenarios worked when when I dropped back to version 1.3.4

[2022-07-23 22:26] mzhou356 commented on #324
We also ran into this issue and after we rolled the version back to 1.3.4, everything works again. I believe it is what @daniel-sali mentioned above, ischema_names didn't include DATE in the dictionary for types.

[2022-07-25 02:26] popcornylu commented on #324
Same here
![image](https://user-images.githubusercontent.com/860633/180681179-8ed54241-9763-4f50-83e6-4a37a233cc44.png)

No issue in 1.3.4

[2022-07-26 16:59] kklein opened #325 "SNOW-638841: `int`s returned as `Decimal`s when upgrading from version 1.3.4 to 1.4.0"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

3.10.5

2. What operating system and processor architecture are you using?

macOS-12.4-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?

Running `conda list` returns:
[code]

I created this environment by creating a new conda environment and running

[2022-07-27 16:35] pratik-rao-official commented on #268
Facing the same issue. Password has '%'. Tried the replace option but doesn't work. snowflake.connector is able to connect with the same credentials. SQLAlchemy is unable to.

[2022-07-28 03:58] shusson opened #326 "SNOW-638842: "WHERE xxx IN :param" does not work as expected"
1. What version of Python are you using?
3.8.13

2. What operating system and processor architecture are you using?
macOS-12.4-x86_64-i386-64bit

3. What are the component versions in the environment (`pip freeze`)?
snowflake-sqlalchemy==1.2.4
sqlalchemy==1.3.23

4. What did you do?

[code]

Expected
[code]

Actual
[code]

There is a workaround which is to add the parens in the query string e.g

[

[2022-07-28 11:04] jonashaag opened #327 "SNOW-638845: ValueError: unsupported format character with version 1.4.0"
Environment:

[code]

Running some unit tests, excerpt from the logs:

[code]

Not happening with < 1.4.0.

[2022-07-28 19:40] Dixon007 opened #328 "SNOW-638844: Unrecognizable column DATE"
snowflake/sqlalchemy/snowdialect.py:541 SAWarning: Did not recognize type 'DATE' of column 'date'

[2022-08-01 15:59] Dixon007 opened #330 "SNOW-638843: TypeError: 'NullType' object is not callable V1.4.0"
Recently updated to snowflake-sqlalchemy on our production pipelines and everything broke. See error message

 WARNING - /home/airflow/.local/lib/python3.7/site-packages/snowflake/sqlalchemy/snowdialect.py:541 SAWarning: Did not recognize type 'DATE' of column 'order_date'
[2022-08-01, 15:47:52 UTC] {taskinstance.py:1700} ERROR - Task failed with exception
Traceback (most recent call last):

Note:

[2022-08-01 17:27] sfc-gh-aling commented on #268
hey folks, sorry for keeping you waiting here. We have fixed double percent issue in the latest release 1.4.0.
could you try upgrading to the latest version `pip install snowflake-sqlalchemy --upgrade` to see if the fix works for you?

[2022-08-02 16:44] sfc-gh-mkeller commented on #313
recreate jira

[2022-08-02 16:45] sfc-gh-mkeller commented on #322
recreate jira

[2022-08-02 16:45] sfc-gh-mkeller commented on #324
recreate jira

[2022-08-02 16:45] sfc-gh-mkeller commented on #325
recreate jira

[2022-08-02 16:46] sfc-gh-mkeller commented on #326
recreate jira

[2022-08-02 16:46] sfc-gh-mkeller commented on #330
recreate jira

[2022-08-02 16:46] sfc-gh-mkeller commented on #328
recreate jira

[2022-08-02 16:46] sfc-gh-mkeller commented on #327
recreate jira

[2022-08-02 17:50] sfc-gh-mkeller opened #332 "SNOW-638883: SNOW-638882: test"
test

[2022-08-02 17:50] sfc-gh-mkeller commented on #332
recreate jira

[2022-08-02 17:51] #332 closed

[2022-08-02 19:58] sfc-gh-mkeller opened #333 "Yanked 1.4.0 release"
Hi people,

We've seen your newly reported issues since the release of version `1.4.0`. Specifically #325 #330 seem to suggest that we introduced some behavior changes in a minor version bump.
We want to correctly support all SQLAlchemy `1.4.0` and upcoming `2.0.0` features even if that means breaking our existing behaviors.
While we re-evaluate the introduced changes we went ahead and yanked this

[2022-08-02 21:10] sfc-gh-aling commented on #324
hey guys, apologize for the issue here -- as pointed out by @daniel-sali , it's because of the `DATE` has been accidentally removed from the `ischema_names` map while the change isn't detected by the tests.

sorry about causing you trouble and appreciate your help on identifying the issue, we will fix this and ship a new release.

[2022-08-02 21:31] sfc-gh-aling commented on #333
updates:

- issue: https://github.com/snowflakedb/snowflake-sqlalchemy/issues/330
  - root cause: This is due to `DATE` being accidentally removed from the `ischema_names` in PR: https://github.com/snowflakedb/snowflake-sqlalchemy/pull/314
  - fix plan: add `DATE` back to the map
  - follow up: add tests to cover `ischema_names` such that any breaking changes will be detected

[2022-08-02 21:48] sfc-gh-aling commented on #327
hey @jonashaag , do you mind sharing unit tests with us so that we could investigate and fix. In 1.4.0 we were doing trying to address the double percent escape by doing string interpolation which is not done in versions < 1.4.0

[2022-08-02 22:49] jonashaag commented on #327
Unfortunately I don't have a reproducing examle that I can share

[2022-08-03 17:37] sfc-gh-aling commented on #327
from the error info `ValueError: unsupported format character '_' (0x5f) at index 125`, empty string interpolation like `"%_somestr" % {}` would trigger the error as compared to the behavior in < 1.4.0 which would not do empty string interpolation. But that leaves the question why the percent sign in `"%_somestr"` is not escaped at the beginning.

I feel this could be related to special naming lik

[2022-08-04 15:45] kklein commented on #333
Thanks for the update! Just to let you know, conda-forge still offers version 1.4.0:
https://anaconda.org/conda-forge/snowflake-sqlalchemy/files

[2022-08-06 01:12] sfc-gh-aling commented on #333
thanks @kklein for info, I'm afraid conda-forge doesn't provide a way to yank the package as pypi. we will do a patch release soon to fix the issues.

[2022-08-08 17:11] sfc-gh-aling commented on #328
hey @Dixon007 , thanks for reaching out.

We've identified the issue and plan for a bug fix release, please follow the progress here: https://github.com/snowflakedb/snowflake-sqlalchemy/issues/333

[2022-08-08 17:11] sfc-gh-aling commented on #330
hey @Dixon007 , thanks for reaching out.

We've identified the issue and plan for a bug fix release, please follow the progress here: https://github.com/snowflakedb/snowflake-sqlalchemy/issues/333

[2022-08-10 02:22] alexscott-ff commented on #56
Looks like this hasn't been updated in awhile.. Is the somewhat hacky solution proposed above still the best way to do this?

[2022-08-10 02:26] alexscott-ff commented on #268
This was happening to me too but with an `@` symbol. I used `urllib.parse.quote_plus` around it and it worked.

[2022-08-12 18:58] janb-frontify opened #337 "SNOW-645168: Binding data in type (bytesio) is not supported."
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

   Python 3.9.12

2. What operating system and processor architecture are you using?

   macOS-12.5-arm64-arm-64bit

3. What are the component versions in the environment (`pip freeze`)?

   aiohttp==3.8.1
aiosignal==1.2.0
asn1crypto==1.5.1
async-timeout==4.0.2
attrs==22.1.0
Authlib==1.0.

[2022-08-12 19:11] rvpeters commented on #244
Were you able to find any workaround for this? I am seeing the same issue locally

[2022-08-13 17:56] sfc-gh-hachouraria commented on #244
The following appears to be the cause of this behavior:

1. SQLAlchemy [closes the underlying cursor object](https://github.com/sqlalchemy/sqlalchemy/blob/main/lib/sqlalchemy/orm/query.py#L2980-L3040) before returning the cursor's row count when performing a bulk delete
2. Within Snowflake's python connector, a [cursor close call invokes an internal reset method](https://github.com/snowflakedb/sno

[2022-08-15 14:49] rvpeters commented on #244
Hi @sfc-gh-hachouraria thanks for the explanation, I tested locally by commenting out the line in the Snowflake python connector that resets the row count value in the cursor reset method and am now getting the proper row count returned for both UPDATE and DELETE

[2022-08-15 16:57] sfc-gh-aling commented on #337
recreate jira

[2022-08-15 16:58] sfc-gh-aling commented on #337
thanks for reaching out! we'll take a look into it

[2022-08-16 18:15] sfc-gh-aling commented on #268
hey folks, I have found the root cause for it.

This is a by-design behavior of sqlalchemy as pointed out: https://docs.sqlalchemy.org/en/14/core/engines.html#escaping-special-characters-such-as-signs-in-passwords.

The password containing special characters like `@` or `%` has to be escaped to be processed properly. as @alexscott-ff mentioned (thanks alexscott-ff), you could use `urllib.parse.quo

[2022-08-16 18:42] sfc-gh-aling commented on #268
The PR has been merged, I'm closing the issue now, thanks for your feedbacks!

[2022-08-16 18:42] #268 closed

[2022-08-25 17:31] sfc-gh-aling commented on #325
hi @kklein , we have fixed in the issue in the latest release 1.4.1, please upgrade to the latest version and try it out, thanks!
I'm closing the issue now, but feel free to reopen if the issue still exists.

[2022-08-25 17:31] #325 closed

[2022-08-25 17:51] sfc-gh-aling commented on #324
thanks for your patience, we have released 1.4.1 which fixed the issue. please upgrade to the latest one and take a try.
I'm closing the issue now, feel free to reach out if you're still encountering the issue or see other issues.

[2022-08-25 17:51] #324 closed

[2022-08-25 17:51] sfc-gh-aling commented on #328
thanks for your patience, we have released 1.4.1 which fixed the issue. please upgrade to the latest one and take a try.
I'm closing the issue now, feel free to reach out if you're still encountering the issue or see other issues.

[2022-08-25 17:51] #328 closed

[2022-08-25 17:51] sfc-gh-aling commented on #330
thanks for your patience, we have released 1.4.1 which fixed the issue. please upgrade to the latest one and take a try.
I'm closing the issue now, feel free to reach out if you're still encountering the issue or see other issues.

[2022-08-25 17:51] #330 closed

[2022-08-25 18:09] #244 closed

[2022-08-25 18:26] sfc-gh-aling commented on #333
we have released 1.4.1 which fixed the breaking changes.

for issue https://github.com/snowflakedb/snowflake-sqlalchemy/issues/327, the patch introduced in 1.4 fixed some double percent sign issues, however it is breaking others. I believe it's worth a separate fix once we can reproduce the user issue.

I'm closing the issue now, feel free to reach out any issue in 1.4 is observed, thanks!

[2022-08-25 18:26] #333 closed

[2022-08-25 23:23] a114383 commented on #107
@luciengaitskell  Can you share a snippet?  I'm not getting json encoded data like the author there suggests:

[code]

[2022-08-26 23:07] greg-finley opened #340 "SNOW-652674: `normalize_name` and `denormalize_name` should handle empty string"
Please answer these questions before submitting your issue. Thanks!

1. What version of Python are you using?

[code]

2. What operating system and processor architecture are you using?

`macOS-12.2.1-arm64-arm-64bit`

3. What are the component versions in the environment (`pip freeze`)?

[code]

4. What did you do?

UNPIVOT like [per the Snowflake docs](https://docs.snowflake.com/en/sql-reference

[2022-08-29 09:26] jonashaag commented on #327
[code]

[2022-08-31 08:32] sfc-gh-hachouraria commented on #230
To use [a function like `ARRAY_CONTAINS`](https://docs.snowflake.com/en/sql-reference/functions/array_contains.html) you'll need to define [the function in SQLAlchemy](https://docs.sqlalchemy.org/en/14/core/functions.html) and apply them into ORM filters. Here's an example:

Goal: Check if array `[1, 2]` exists as an independent element in a 2D array
A 2D array input that will match could be `[ [1

[2022-08-31 10:49] sfc-gh-hachouraria commented on #299
As another alternative method SQLAlchemy's `Insert.from_select` could also work to satisfy the `INSERT INTO … SELECT` requirement for direct variant values:

[code]

[2022-09-06 17:22] sfc-gh-aling commented on #340
recreate jira

[2022-09-06 17:22] sfc-gh-aling commented on #340
thanks @greg-finley for reaching out, we will take a look into it!

[2022-09-07 18:49] crstnrm commented on #56
Any update on this matter?

[2022-09-08 08:57] toandm commented on #199
Hi guys, this issue still persists with snowflake-connector-python==2.7.11. My dataframe column datatype is datetime64[ns, UTC], but when I use df.to_sql to write to Snowflake, result datatype is TIMESTAMP_NTZ. Any ideas how to fix this?

[2022-09-16 19:01] adrien-turiot-maxa opened #344 "SNOW-664524: Error query builder of sqlalchemy - Boolean value of this clause is not defined"
When querying using [the query API of `sqlalchemy`](https://docs.sqlalchemy.org/en/14/core/selectable.html), the execution raises this error:

[code]

### Step to reproduce

- In Snowflake:
[code]

- In a Python script:
[code]

<details>
<summary>Click here to see the logs (anonymized)</summary>

[code]

</details>

<details>
<summary>In comparison, this works fine in SQLite here:</summary>

[code

[2022-09-27 12:00] kotofos opened #348 "SNOW-669163: Missing connection_invalidated / is_disconnect detection"
When DBAPI error raised it has `connection_invalidated` flag which can be used to detect disconnects and do the reconnect. This flag is dialect-dependent.
In core supported sqlalchemy dialects, like MySQL this feature works as expected.

## What is the current behavior?
Currently snowflake-sqlalchemy does not set this flag. It is hardcoded to False.

See code:
Default implementation: https://githu

[2022-09-27 21:58] sfc-gh-sfan commented on #348
Makes total sense to me. We should probably mimic the mysql behavior, but we also need to make sure we handle it correctly in snowflake's context.

[2022-10-04 21:18] sfc-gh-aling commented on #326
hey @shusson, this is the expected behavior of how the underlying snowflake-connector-python works.

I understand that it is tempting to pass the tuple itself which has the parentheses and want the parentheses to be part of the query. However, the input `tuple` is treated by the connector as a container for multiple parameters instead of simply of string form such that parentheses won't be taken p

[2022-10-05 17:49] sfc-gh-aling commented on #327
thanks @jonashaag , I have tried multiple test cases but still failed to reproduce, I will keep trying.

in the meanwhile, if you happen to know which exact case is failing in your unit tests, please share it with me. thanks!

[2022-10-07 16:57] sfc-gh-aling commented on #340
@greg-finley  thanks for your patience, we have fixed the issue in the PR: https://github.com/snowflakedb/snowflake-sqlalchemy/pull/349 which will be included in our next release.

[2022-10-07 16:57] #340 closed

[2022-10-10 18:06] sfc-gh-aling commented on #326
I'm closing the issue since we didn't hear back from you, but please feel free to reach out if you have any other questions.

[2022-10-10 21:35] shusson commented on #326
Hey @sfc-gh-aling thanks for the update. The reason I expected it this way is because the postgres sqlalchemy dialect only works this way.

i.e with postgres this works

[code]

But this does not

[code]

I'm not sure what repo should fix this, but as it is I cannot write db agnostic SQL.

[2022-10-16 22:32] scastria opened #350 "SNOW-679045: _rfc_1738_quote is no longer available in sqlalchemy 1.4.42"
The latest release of sqlalchemy 1.4.42 has renamed all of the rfc 1738 stuff so this import no longer works:  https://github.com/snowflakedb/snowflake-sqlalchemy/blob/be1f7417ee52f29943e082a51d87a5104e78205a/src/snowflake/sqlalchemy/util.py#L8

[2022-10-16 22:57] zzzeek commented on #350
I'd suggest snowflake just vendor this short function directly.

[2022-10-17 08:51] francesco086 commented on #350
Got this issue and was about to report it, hope it can get fixed soon

[2022-10-17 09:30] phillip-parrott commented on #350
Put in a fix, hopefully this gets approved 🤞

[2022-10-17 09:53] fernandobrito commented on #350
+1. Also affected by this.

[2022-10-17 11:09] dtpryce commented on #350
Also affected ... looks like you should just change the method name imported from `sqlalchemy` https://github.com/sqlalchemy/sqlalchemy/commit/c88bb2167b1c4b39c7f9378b621bb8d429269d90 ?

[2022-10-17 11:10] dtpryce commented on #350
`_sqla_url_quote` is the new method name

[2022-10-17 11:11] phillip-parrott commented on #350
that would break everyone on older versions of sqlalchemy, best practice is not to use private functions from other libraries

[2022-10-17 11:14] dtpryce commented on #350
Yeah fair and agreed, why was it there already ;P

[2022-10-17 12:54] zzzeek commented on #350
as I mentioned, snowflake should vendor this, it's one line

[2022-10-17 13:17] aniket-jain9 commented on #350
I'm new to this, do anyone have idea, how long will it take to fix this?

[2022-10-17 13:58] R2RHONEY commented on #350
Also have production issues . Old versions of Snowflake_SQLalchemy 1.2.4  also failing due to dependency on < 2 so collecting 1.42 SQLAlchemy and failing. What is the resolution for this?

[2022-10-17 16:21] sfc-gh-achandrasekaran commented on #350
We will vendor this fix asap. Thanks folks.

[2022-10-17 18:52] strangemonad commented on #350
Seems like there's already an open PR? https://github.com/snowflakedb/snowflake-sqlalchemy/pull/351

[2022-10-17 18:59] sfc-gh-aling commented on #350
yes @strangemonad , we're testing the PR right now to make sure this is the only place which needs a change.

[2022-10-17 20:26] sfc-gh-aling commented on #350
hey @jonashaag , I think we shall target getting that issue #327  fixed in v 1.4. I'm sorry that I still can't reproduce the #327 issue, if you could share me with details of your test code for reproducing, I would love to prioritize the fix for you.

[2022-10-17 20:51] jtilly commented on #333
Just FYI (probably not relevant anymore), but you can mark packages on conda-forge as broken. Just make a PR at https://github.com/conda-forge/admin-requests/

For this particular case, you would add a single file `broken/snowflake-sqlalchemy-1.4.0.txt` that contains
`noarch/snowflake-sqlalchemy-1.4.0-pyhd8ed1ab_0.tar.bz2`.

[2022-10-18 00:11] sfc-gh-aling commented on #350
hey folks, we have released v1.4.3: https://pypi.org/project/snowflake-sqlalchemy/1.4.3/

please use `pip install snowflake-sqlalchemy --upgrade` to upgrade, let me know if you're still encountering the same issue

[2022-10-19 08:45] aniket-jain9 commented on #327
hi @sfc-gh-aling , I'm also facing the same issue:
ValueError: unsupported format character 'T' (0x54) at index 838
this is beacuse:
when an sql query written is passed from python to snowflake to fetch the result in pandas dataframe, it throws error if sql query contains like '%TU%' in my case.

for eg:
I'm writing a sample code:

url = URL(
user = sfuser,
password = sfpassword,
account = sfaccou

[2022-10-19 17:23] sfc-gh-aling commented on #350
@HankYunDI that's a bit weird, I tested locally, the import is working.

what command did you use to upgrade snowflake-sqlalchemy? also is it possible to import the snowflake-sqlalchemy in your env --`import snowflake.sqlalchemy`?

[2022-10-19 17:28] sfc-gh-aling commented on #327
thanks for sharing me with your test case @aniket-jain9 ! I will dig into it and let you guys know my findings.

[2022-10-25 14:47] fredrike commented on #182
1. Upgrade to atleast python 3.7
2. Install snowflake-sqlalchemy `pip install snowflake-sqlalchemy` (https://pypi.org/project/snowflake-sqlalchemy/)

[2022-10-26 07:46] m-ar13f commented on #145
i'm facing this issue also right now. Any update guys?

[2022-10-26 17:40] shusson commented on #326
@sfc-gh-aling any updates on this? I'm guessing that snowflake should be following the same pattern that the postgres dialect uses in sqlalchemy.

[2022-10-28 04:25] bhavna-a commented on #350
@sfc-gh-aling I can only upgrade it to version 1.3.4, can the fix be backported to that version?

[code]

[2022-10-31 17:55] sfc-gh-aling commented on #350
hey @bhavna-a , may I ask what platform you're using the how did you set up your python environment?
I haven't seen this error message before and it looks like the listed versions are fixed.. are you downloading packages from pypi?

[2022-10-31 23:55] sfc-gh-aling commented on #327
thanks for your patience, here're some updates from my side:

I believe the issue is that in some cases (e.g., the pandas sample), the operation to unset the flag `connection. _interpolate_empty_sequences` in `post_exc` was not executed.

From what I have observed with the pandas sample, `pd.read_sql` is composed of two separate sqls:

First, it would send a query to check whether this is a table

[2022-11-02 18:09] ChuliangXiao commented on #199
Having the same issue Pandas `datetime64[ns, America/New_York]` becomes Snowflake `TIMESTAMP_NTZ(9)` using **snowpark**  `session.write_pandas`

[2022-11-04 08:02] jtilly commented on #327
I have another example for this issue: I could pin down a specific version of `sqlalchemy` (_not_ `snowflake-sqlalchemy`) that introduced this.

Take this file and call it `t.py`:

[code]

And then create two environments with different versions of sqlalchemy:

[code]

For `sqlalchemy=1.4.23`, I get:

[code]

For `sqlalchemy=1.4.24`, I get:

[code]

For `1.4.24`, this can be fixed by using `%%` in

[2022-11-05 01:52] tom-juntunen commented on #350
`pip uninstall sqlalchemy` then `pip install 'sqlalchemy < 1.4.42'` worked for me

[2022-11-07 18:06] sfc-gh-aling commented on #327
@jtilly thanks for reaching out and sharing us with the reproducing scripts.
I've updated our test suites to include yours, ran the fix against your scripts and the fix worked as expected.
We'll do a bug fix release soon.

[2022-11-10 14:26] calpaterson commented on #350
snowflake-sqlalchemy 1.4.3 fixes this problem for me, for both sqlalchemy 1.4.41 and 1.4.43.  I think this issue can be closed.

[2022-11-10 15:47] willh-lw commented on #350
Agreed, this resolved the issue for me also.

[2022-11-10 19:08] sfc-gh-aling commented on #350
thanks guys for your confirmation, closing the issue now.

[2022-11-10 19:08] #350 closed

[2022-11-11 17:13] shusson commented on #326
This is still an issue for us @sfc-gh-aling @sfc-gh-mkeller. Can we re-open this ticket?

[2022-11-11 17:18] sfc-gh-aling commented on #326
@shusson , apologize for the late response, I was working on some other prioritized stuff.
yes, I will check how postgres implements it

[2022-11-16 06:36] yakshup commented on #125
Any updates on this?

[2022-11-21 20:01] ettoreaquino commented on #225
Any updates on this issue?

Exact same behavior as reported by @imperialguy when creating a Lambda Layer running on AWS Lambda Python3.8 runtime

[2022-11-22 00:49] Srinu3366 commented on #225
It is working for me with lambda runtime Python3.9 if I build the layer inside a container using image public.ecr.aws/sam/build-python3.9:latest-x86_64.

[2022-11-25 13:38] jtilly commented on #327
1.4.4 fixes the issue for me. Thank you!